
html {
overflow-x: hidden !important;
}
body {
background: #fff none repeat scroll 0 0;
color: #505050;
font-size: 14px;
font-weight: 500;
overflow-x: hidden;
}
.mar-left{margin-left:300px;}
.main-content {
background: #f5f5f5 none repeat scroll 0 0;
padding: 30px 0;
}
ul, ol {
list-style: outside none none;
margin: 0;
padding: 0;
}
a {
display: inline-block;
}
a:hover, a:focus {
outline: medium none;
text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
font-weight: 400;
margin: 0;
}
h2 {
font-size: 30px;
}
h3 {
font-size: 30px;
}
h4 {
font-size: 20px;
line-height: 26px;
}
img {
display: inline-block;
height: auto;
max-width: 100%;
}
h5 {
font-size: 18px;
}
p {
line-height: 28px;
}
.mb-0 {
margin-bottom: 0 !important;
}
.mb-30 {
margin-bottom: 30px;
}
.mb-40 {
margin-bottom: 40px;
}
.mb-80 {
margin-bottom: 80px;
}
.mt-40 {
margin-top: 40px;
}
.dn {
display: none;
}
.btn {
background: #e3ae1e none repeat scroll 0 0;
border: 1px solid transparent;
border-radius: 0;
color: #fff;
display: inline-block;
font-size: 18px;
font-weight: 500;
padding: 10px 15px;
position: relative;
transition: all 0.3s ease-in-out 0s;
}
*::-moz-selection {
background: #e3ae1e none repeat scroll 0 0;
color: #fff;
}
iframe {
min-height: 400px;
width: 100%;
}
.ovh {
overflow-y: hidden;
}
:focus {
outline: medium none;
}
select:focus {
outline: 1px solid transparent;
}
.icon-wrap {
text-align: center;
}
.icon-wrap .fa {
color: #fff;
cursor: pointer;
display: inline-block;
font-size: 0;
overflow: hidden;
position: relative;
text-align: center;
transition: background 0.3s ease 0s, color 0.3s ease 0s, box-shadow 0.3s ease 0s;
z-index: 10;
}
.icon-wrap .fa::after {
box-sizing: content-box;
content: "";
display: none;
height: 100%;
pointer-events: none;
position: absolute;
width: 100%;
}
.icon-wrap .fa::before {
animation: 0.2s ease 0s normal forwards 1 running fromRightToLeft;
display: block;
font-family: "fontawesome";
font-size: 14px;
line-height: 16px;
}
.icon-wrap .fa:hover {
background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
color: #702fa8;
}
.icon-wrap .fa:hover::before {
animation: 0.3s ease 0s normal forwards 1 running toRightFromLeft;
}
.icon-wrap-nav {
text-align: center;
}
.icon-wrap-nav i {
color: #fff;
cursor: pointer;
display: inline-block;
font-size: 45px;
line-height: 70px;
overflow: hidden;
position: relative;
text-align: center;
transition: background 0.3s ease 0s, color 0.3s ease 0s, box-shadow 0.3s ease 0s;
width: 70px;
z-index: 15;
}
.icon-wrap-nav i::after {
box-sizing: content-box;
content: "";
display: none;
height: 100%;
pointer-events: none;
position: absolute;
width: 100%;
}
.icon-wrap-nav i::before {
display: block;
font-family: 'Conv_calibri';
}
.icon-wrap-nav i:hover, .icon-wrap-nav i:focus {
background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
color: #000;
}
.icon-wrap-nav i:hover::before {
animation: 0.3s ease 0s normal forwards 1 running toRightFromLeft;
}
.alignleft {
display: inline;
float: left;
}
.alignright {
display: inline;
float: right;
}
.aligncenter {
display: block;
margin-left: auto;
margin-right: auto;
}
blockquote.alignleft, .wp-caption.alignleft, img.alignleft {
margin: 0.4em 1.6em 1.6em 0;
}
blockquote.alignright, .wp-caption.alignright, img.alignright {
margin: 0.4em 0 1.6em 1.6em;
}
blockquote.aligncenter, .wp-caption.aligncenter, img.aligncenter {
clear: both;
margin-bottom: 1.6em;
margin-top: 0.4em;
}
.wp-caption.alignleft, .wp-caption.alignright, .wp-caption.aligncenter {
margin-bottom: 1.2em;
}
.clear::before, .clear::after, .site::before, .site::after, .entry-content::before, .entry-content::after, .comment-content::before, .comment-content::after, .site-content::before, .site-content::after, .nav-links::before, .nav-links::after, .comment-navigation::before, .comment-navigation::after, .social-navigation ul::before, .social-navigation ul::after, .textwidget::before, .textwidget::after {
content: "";
display: table;
}
.clear::after, .site::after, .entry-content::after, .comment-content::after, .site-content::after, .nav-links::after, .comment-navigation::after, .social-navigation ul::after, .textwidget::after {
clear: both;
}
.site-content {
margin: 40px auto 0;
}
.no-results.not-found {
margin-bottom: 30px;
}
.site-content-top-margin {
margin-top: 0;
}
.woocommerce-checkout .entry-content, .woocommerce-cart .entry-content, .page-template-contact .entry-content, .page-template-default .entry-content {
background: #fff none repeat scroll 0 0;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
margin-bottom: 40px;
padding: 30px 30px 15px;
}
.page-template-faq .entry-content-faq {
background: #fff none repeat scroll 0 0;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
margin-bottom: 30px;
padding: 30px 30px 15px;
}
#navigation-bar {
height: 50px;
}
.top-social-icon-area .navigation-bar {
height: 50px;
}
.top-social-icon-area {
background: #f5f5f5 none repeat scroll 0 0;
height: 50px;
position: relative;
z-index: 112;
}
.top-social-icon {
left: 65px;
position: absolute;
}
.top-social-icon .icon-wrap a {
float: left;
height: 50px;
width: 50px;
}
.top-social-icon .icon-wrap .fa {
color: #505050;
margin: 0;
}
.top-social-icon .icon-wrap .fa:hover {
background: #e3ae1e none repeat scroll 0 0;
color: #fff;
}
.top-social-icon .icon-wrap .fa::before {
line-height: 50px;
}
#search {
float: left;
height: 40px;
position: relative;
}
#label {
position: relative;
z-index: 20;
}
#label label {
background: #e3ae1e none repeat scroll 0 0;
color: #fff;
cursor: pointer;
display: block;
font-size: 11px;
font-weight: normal;
height: 50px;
line-height: 50px;
margin-bottom: 0;
text-align: center;
width: 50px;
}
#input {
height: 50px;
left: 50px;
overflow: hidden;
position: absolute;
top: 0;
width: 450px;
}
#input input {
background-color: #fff;
border: 1px solid #fff;
display: block;
font-size: 13px;
height: 100%;
left: -450px;
margin: 0;
padding: 0 10px;
position: absolute;
text-rendering: optimizelegibility;
top: 0;
transition: all 0.8s ease 0s;
width: 450px;
z-index: 500;
}
#input input:focus {
outline: medium none;
}
#input.focus input {
left: 0;
z-index: 500;
}
.top-language-currency-bar {
text-align: right;
}
.top-language-currency-bar .links {
cursor: pointer;
display: inline-block;
font-size: 11px;
font-weight: 700;
line-height: 50px;
position: relative;
text-transform: uppercase;
}
.top-language-currency-bar .links span {
padding: 0 10px;
}
.top-language-currency-bar .links span::after {
display: inline-block;
font-size: 10px;
padding: 0 10px;
transform: rotate(90deg);
-moz-transform: rotate(90deg);
-webkit-transform: rotate(90deg);
-o-transform: rotate(90deg);
-ms-transform: rotate(90deg);
}
.top-language-currency-bar .links ul {
background: #fff none repeat scroll 0 0;
box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.05);
opacity: 0;
padding: 10px 15px;
position: absolute;
text-align: left;
top: 50px;
transition: all 0.35s ease-in-out 0s;
visibility: hidden;
width: 100%;
z-index: 1000;
}
.top-language-currency-bar .links:hover > ul {
opacity: 1;
visibility: visible;
}
.top-language-currency-bar .links ul li {
line-height: 30px;
}
.top-language-currency-bar .links ul li a {
color: #505050;
transition: all 0.35s ease-in-out 0s;
}
.top-language-currency-bar .links ul li a:hover {
color: #e3ae1e;
}

.navbar-toggle {
background: #e3ae1e none repeat scroll 0 0;
border-color: #fff;
color: #000;
margin-bottom: 14px;
margin-top: 14px;
position: relative;
right: 15px;
z-index: 9999;
}
.shop-menu {
min-height: 78px;
}
.navbar-toggle .icon-bar {
background: #fff none repeat scroll 0 0;
}
.index-padd {
padding-bottom: 20px;
}
.nav-slider {
background: #e3ae1e none repeat scroll 0 0;
}
.nav-slider .anim-dots, .nav-slider .anim-slide a {
background: #e3ae1e none repeat scroll 0 0;
}
.nav-slider .anim-dots span {
background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
}
.nav-slider li {
display: inline-block;
}
.profile {
padding: 0 15px;
}
.profile ul li {
margin-left: 30px;
}
.profile ul li.usermenu_li ul{
	background: #eee;
    border-radius: 7px;
    border: 1px solid #aaa;
    z-index: 16;
    position: absolute;
	width:100px;
}
.profile ul li.usermenu_li ul li{
	float: none;
    display: block;
    margin-left: 0;
}
.profile ul li.usermenu_li ul li a{
	color: rgba(0,0,0,0.6) !important;
}
.profile ul li.usermenu_li ul li a:hover{
	color: rgba(0,0,0,1) !important;
}
.profile ul li.usermenu_li ul li:first-child{
	border-radius:7px 7px 0 0;
}
.profile ul li.usermenu_li ul li:last-child{
	border-radius:0 0 7px 7px;
}
.profile ul li.usermenu_li ul li:hover{
	background:#ddd;
	color:#000 !important;
}
.profile ul li.usermenu_li ul.menu_drop_down{
	transition:all 1s;
}
/*.profile ul li.currency_li .menu_drop_down{
	display:none;
}
.currency_li:hover + .menu_drop_down{
	display:block;
}*/
.profile ul li.usermenu_li ul li a{
	padding: 0px;
    display: block;
    text-align: center;
    height:40px;
	line-height:40px;
	border-bottom:1px solid rgba(0,0,0,0.1);
}
.profile ul li.usermenu_li ul li a span{
	background:none;
	border-radius:0;
	margin:0;
}
.profile ul li.usermenu_li ul li a span i{
	font-size:15px;
	line-height:40px;
}
.profile ul li.usermenu_li ul li a span:first-child{
	width:20%;
	margin:0 8%;
}
.profile ul li.usermenu_li ul li a span:last-child{
	width:64%;
}
/* for another */

.profile ul li.currency_li ul{
	background: #eee;
    border-radius: 7px;
    border: 1px solid #aaa;
    z-index: 16;
    position: absolute;
	width:100px;
}
.profile ul li.currency_li ul li{
	float: none;
    display: block;
    margin-left: 0;
}
.profile ul li.currency_li ul li a{
	color: rgba(0,0,0,0.3) !important;
}
.profile ul li.currency_li ul li a:hover{
	color: rgba(0,0,0,1) !important;
}
.profile ul li.currency_li ul li:first-child, .profile ul li.usermenu_li ul li:first-child{
	border-radius:7px 7px 0 0;
}
.profile ul li.currency_li ul li:last-child, .profile ul li.usermenu_li ul li:last-child{
	border-radius:0 0 7px 7px;
}
.profile ul li.currency_li ul li:hover{
	background:#ddd;
	color:#000 !important;
}
.profile ul li.currency_li ul.menu_drop_down{
	transition:all 1s;
}

.profile ul li.currency_li ul li a{
	padding: 0px;
    display: block;
    text-align: center;
    
	border-bottom:1px solid rgba(0,0,0,0.1);
	
}
.profile ul li.currency_li ul li a span{
	background:none;
	border-radius:0;
	margin:0;
}
.profile ul li.currency_li ul li a span i{
	font-size:15px;
	line-height:40px;
}
.profile ul li.currency_li ul li a span:first-child{
	width:20%;
	margin:0 8%;
}
.profile ul li.currency_li ul li a span:last-child{
	width:64%;
}
/* end */
.profile ul li .product_list_widget li {
margin-left: 0;
}
.profile ul li .product_list_widget li.empty {
border: 0 none;
display: block;
margin-bottom: 0;
text-align: center;
}
.profile ul li a {
color: #fff;
font-size: 11px;
font-weight: bold;
letter-spacing: 1px;
padding: 20px 0;
text-transform: uppercase;
cursor:pointer;
}
.profile ul li a:hover {
color: #000;
transition: all 0.3s ease-in-out 0s;
}
.profile ul li a span {
color: #000;
}
.profile ul li.tz-wc-header-mini-cart {
position: relative;
}
.profile ul li.tz-wc-header-mini-cart .tz_wc_mini_count {
padding: 18px 0;
}
.profile ul li.tz-wc-header-mini-cart .tz_wc_mini_count span {
background: #fff none repeat scroll 0 0;
border-radius: 25px;
display: inline-block;
font-family: "Lato",sans-serif;
font-size: 12px;
font-weight: 500;
height: 40px;
line-height: 40px;
margin-left: 9px;
text-align: center;
vertical-align: middle;
width: 40px;
}
.profile ul li.tz-wc-header-mini-cart:hover > .widget_shopping_cart_content {
opacity: 1;
visibility: visible;
}
.profile ul li.tz-wc-header-mini-cart .widget_shopping_cart_content {
background: #fff none repeat scroll 0 0;
box-shadow: 0 0 5px 0 #e9e9e9;
font-family: 'Conv_calibri';
min-width: 200px;
opacity: 0;
padding: 20px;
position: absolute;
right: 0;
text-align: left;
top: 80px;
transition: all 0.35s ease-in-out 0s;
visibility: hidden;
z-index: 1100;
}
.profile ul li.tz-wc-header-mini-cart .widget_shopping_cart_content .mini_cart_item {
margin: 0;
}
.profile ul li.tz-wc-header-mini-cart .widget_shopping_cart_content .mini_cart_item a.remove {
display: none;
}
.profile ul li.tz-wc-header-mini-cart .widget_shopping_cart_content .mini_cart_item a {
color: #000;
display: inline-block;
line-height: 50px;
padding: 0;
width: 100%;
}
.profile ul li.tz-wc-header-mini-cart .widget_shopping_cart_content .mini_cart_item a img {
float: right;
height: auto;
width: 30px;
}
.profile ul li.tz-wc-header-mini-cart .widget_shopping_cart_content .total {
border-bottom: 2px solid #ddd;
border-top: 2px solid #ddd;
margin-bottom: 15px;
margin-top: 10px;
}
.profile ul li.tz-wc-header-mini-cart .widget_shopping_cart_content .buttons a {
background: #e3ae1e none repeat scroll 0 0;
color: #fff;
transition: all 0.35s ease-in-out 0s;
}
.profile ul li.tz-wc-header-mini-cart .widget_shopping_cart_content .buttons {
margin: 0;
}
.profile ul li.tz-wc-header-mini-cart .widget_shopping_cart_content .buttons a {
display: block;
line-height: 30px;
padding: 0;
text-align: center;
}
.profile ul li.tz-wc-header-mini-cart .widget_shopping_cart_content .buttons a.checkout {
margin-top: 15px;
}
.profile ul li.tz-wc-header-mini-cart .widget_shopping_cart_content .buttons a:hover {
background: #000 none repeat scroll 0 0;
color: #fff;
}
.logo {
position: relative;
width: 230px;
z-index: 1000;
}
.logo::before {
background: #fff none repeat scroll 0 0;
content: "";
height: 206px;
position: absolute;
transform: skew(30deg) translate(5px, -90px);
-moz-transform: skew(30deg) translate(5px, -90px);
-webkit-transform: skew(30deg) translate(5px, -90px);
-o-transform: skew(30deg) translate(5px, -90px);
-ms-transform: skew(30deg) translate(5px, -90px);
width: 230px;
}/*
.logo::after {
box-shadow: 1px 1px 2px 0 #e9e9e9;
content: "";
height: 33px;
left: 2px;
position: absolute;
top: 0;
transform: skew(40deg) translate(-69px, 95px);
-moz-transform: skew(40deg) translate(-69px, 95px);
-webkit-transform: skew(40deg) translate(-69px, 95px);
-o-transform: skew(40deg) translate(-69px, 95px);
-ms-transform: skew(40deg) translate(-69px, 95px);
width: 229px;
z-index: -1;
}*/
.logo a {
color: #6a6a6a;
height: 40px;
left: 40px;
position: relative;
width: 130px;
}
.logo a img {
height: auto;
max-height: 155px;
max-width: 130px;
width: auto;
margin-top: -47px;
margin-left: -15px;
}
.main-navigation nav {
margin: 6px 0;
min-height: 80px;
overflow: visible;
position: relative;
right: 12px;
z-index: 15;
}
.main-navigation .navbar {
background: transparent none repeat scroll 0 0;
border: medium none;
}
.main-navigation li.menu-item {
position: relative;
}
.main-navigation li.menu-item a {
color: #505050;
padding: 31px 25px;
text-rendering: optimizelegibility;
text-transform: capitalize;
}
.main-navigation li.menu-item:hover > a {
color: #fff;
}
.main-navigation li.menu-item::before {
background: #e3ae1e none repeat scroll 0 0;
content: "";
display: block;
height: 100%;
opacity: 0;
position: absolute;
right: 0;
top: 0;
transform: skew(40deg);
-moz-transform: skew(40deg);
-webkit-transform: skew(40deg);
-ms-transform: skew(40deg);
-o-transform: skew(40deg);
transition: all 0.2s ease-in-out 0s;
-moz-transition: all 0.2s ease-in-out 0s;
-webkit-transition: all 0.2s ease-in-out 0s;
-o-transition: all 0.2s ease-in-out 0s;
-ms-transition: all 0.2s ease-in-out 0s;
visibility: hidden;
width: 100%;
z-index: -1;
}
.main-navigation li.menu-item:hover::before {
opacity: 1;
visibility: visible;
}
.main-navigation li.menu-item-has-children {
position: relative;
}
.main-navigation li.menu-item-has-children ul {
box-shadow: 0 0 2px 1px #e9e9e9;
}
.main-navigation li.menu-item-has-children ul {
background: #fff none repeat scroll 0 0;
display: inline-block;
left: 34px;
margin-top: 10px;
opacity: 0;
padding: 20px 30px;
position: absolute;
text-align: left;
top: 79px;
transition: all 0.5s ease-in-out 0s;
visibility: hidden;
width: 200px;
}
.main-navigation li.menu-item-has-children ul li {
display: block;
margin: 5px 0 !important;
padding: 5px 0;
}
.main-navigation li.menu-item-has-children ul li a {
color: #000;
display: block;
padding: 0;
text-align: left;
}
.main-navigation li.menu-item-has-children ul li::before {
display: none;
}
.main-navigation li.menu-item-has-children ul li:hover > a {
color: #e3ae1e;
}
.main-navigation li.menu-item-has-children ul li {
border-right: 5px solid transparent;
}
.main-navigation li.menu-item-has-children ul li:hover {
border-right: 5px solid #e3ae1e;
}
.main-navigation li.menu-item-has-children ul li.menu-item-has-children::after {
color: #e3ae1e;
content: "";
font-family: "FontAwesome";
height: 30px;
left: -15px;
line-height: 30px;
position: absolute;
top: 0;
width: 20px;
z-index: 9999;
}
.main-navigation li.menu-item-has-children {
position: relative;
}
.main-navigation li.menu-item-has-children:hover > ul {
display: inline-block;
opacity: 1;
visibility: visible;
z-index: 100;
}
.main-navigation li.menu-item-has-children ul li.menu-item-has-children ul {
display: block;
left: 150px;
position: absolute;
top: -10px;
width: 200px;
}
.main-navigation li.menu-item-has-children ul li.menu-item-has-children ul li a {
color: #6f6f6f;
}
.main-navigation li.menu-item-has-children ul li.menu-item-has-children ul li a:hover {
color: #e3ae1e;
}
.main-navigation li.menu-item-has-children ul li.menu-item-has-children ul li ul {
left: -165%;
}
.main-navigation li.category-dropdown ul {
background: #fff none repeat scroll 0 0;
box-shadow: 0 0 2px 1px #e9e9e9;
margin-top: 10px;
min-width: 490px;
opacity: 0;
padding: 30px;
position: absolute;
text-align: left;
top: 79px;
transition: all 0.5s ease-in-out 0s;
visibility: hidden;
z-index: 8888;
}
.main-navigation li.category-dropdown ul li a {
padding: 0;
}
.main-navigation li.category-dropdown ul li a img {
height: 125px;
width: 70px;
}
.main-navigation li.category-dropdown:hover > ul {
display: block;
opacity: 1;
visibility: visible;
}
.main-navigation li ul li {
margin-left: 20px;
}
.main-navigation li ul li:first-child {
margin-left: 0;
}
.main-navigation li ul li a {
color: #6f6f6f;
text-align: center;
}
.main-navigation li ul li a div {
background: #edebe5 none repeat scroll 0 0;
height: 124px;
width: 70px;
}
.main-navigation li ul li a .fa {
line-height: 124px;
}
.main-navigation ul li ul li:hover a {
color: #e3ae1e;
}
.main-navigation li ul li span {
display: block;
margin-top: 10px;
text-transform: capitalize;
}
.mr-1000-top {
position: relative;
}
.mr-1000 {
background: #000 none repeat scroll 0 0;
height: 100%;
position: absolute;
top: 0;
width: 300%;
z-index: 5;
}
.main-navigation .mr-1000 {
background: #fff none repeat scroll 0 0;
box-shadow: 0 4px 2px -3px #e9e9e9;
left: 20px;
z-index: 5;
}
.main-navigation .mr-1000-home {
z-index: 9;
}
.main-slider {
margin-bottom: 20px;
}
.mr-1000 {
background: #f5f5f5 none repeat scroll 0 0;
width: 300%;
z-index: 5;
}
.mr-1000-left {
background: #fff none repeat scroll 0 0;
height: 100%;
left: 99%;
position: absolute;
top: 0;
width: 300%;
}
.mr-1000-location {
background: #EEEEEE0;
left: 33px;
transform: skew(40deg);
-moz-transform: skew(40deg);
-webkit-transform: skew(40deg);
-o-transform: skew(40deg);
-ms-transform: skew(40deg);

}
header .page-location {
background: #EEEEEE0;
color: #666666;
font-size: 11px;
line-height: 35px;
margin-left: 60px;
padding: 0;
position: relative;
text-rendering: optimizelegibility;
z-index: 8;
}
header .page-location strong {
color: #e3ae1e;
display: inline-block;
font-size: 14px;
line-height: 32px;
padding-left: 200px;
}
header .page-location span:last-child {
margin-right: 5px;
}
header .page-location strong span {
display: inline-block;
}
header .page-location p {
display: inline-block;
margin: 0;
text-transform: capitalize;
}
header .page-location a {
color: #666666;
font-size: 11px;
margin: 0 5px;
}
header .page-location p span {
color: #fff;
}
header .page-location p span:last-child {
background: red none repeat scroll 0 0;
}
.featured-box {
background: #fff none repeat scroll 0 0;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
margin: 0 0 40px;
padding: 15px;
position: relative;
}
.featured-box.long-shadow::after {
left: 0;
top: 0;
}
.featured-box img {
height: auto;
max-height: 140px;
max-width: 140px;
width: auto;
}
.featured-box .feature-description {
float: right;
width: 54%;
}
.featured-box .feature-description h3 {
font-size: 26px;
font-weight: 300;
margin-bottom: 15px;
}
.featured-box .feature-description h3 a {
color: #e3ae1e;
}
.featured-box .feature-description p {
line-height: 24px;
text-rendering: optimizelegibility;
}
.featured-box span {
background: #e3ae1e none repeat scroll 0 0;
bottom: 35px;
color: #fff;
font-weight: bold;
left: -35px;
opacity: 0;
padding: 10px 20px;
position: absolute;
transition: all 0.5s ease 0s;
}
.featured-box:hover span {
bottom: 35px;
left: 0;
opacity: 1;
}
.owl-carousel-outer .trendz-wc-product {
position: relative;
}
.owl-carousel .trendz-wc-product {
margin-bottom: 40px;
margin-top: 40px;
}
.trendz-wc-product .carousel-heading, .product-review .heading, .company .heading, .return-policy .heading, .testimonial .heading, .page-template-faq .heading, .product-category .heading, .top-brand .heading {
background: #e3ae1e none repeat scroll 0 0;
height: 70px;
}
.trendz-wc-product .carousel-heading {
position: relative;
}
.trendz-wc-product .carousel-heading.long-shadow::after {
z-index: -1;
}
.trendz-wc-product .carousel-heading h2, .product-review h2, .company h2, .return-policy .heading h2, .testimonial .heading h2, .page-template-faq .heading h2, .product-category .heading h2, .top-brand .heading h2 {
clear: both;
color: #fff;
font-weight: 400;
letter-spacing: 2px;
padding-left: 20px;
position: relative;
text-transform: capitalize;
top: 50%;
transform: translateY(-50%);
-moz-transform: translateY(-50%);
-webkit-transform: translateY(-50%);
-o-transform: translateY(-50%);
-ms-transform: translateY(-50%);
}
.top-brand a {
margin-bottom: 30px;
}
.trendz-wc-product .owl-controls {
position: absolute;
right: 0;
top: -70px;
z-index: 15;
}
.trendz-wc-product .owl-nav {
margin: 0;
}
.trendz-wc-product .owl-nav [class*="owl-"] {
background: transparent none repeat scroll 0 0;
border-left: 1px solid #fff;
border-radius: 0;
display: inline-block;
font-weight: 100;
line-height: 0.6;
margin: 0;
padding: 0;
position: relative;
}
.trendz-wc-product .owl-nav [class*="owl-"]:hover {
background: transparent none repeat scroll 0 0;
}
.trendz-wc-product .owl-nav .icon-wrap .fa {
color: #fff;
}
.trendz-wc-product .owl-nav .icon-wrap .fa:hover {
background: #fff none repeat scroll 0 0;
color: #e3ae1e;
}
.trendz-wc-product .owl-nav .fa::before {
font-size: 80px;
height: 70px;
line-height: 70px;
width: 65px;
}
.trendz-wc-product .item {
overflow: hidden;
position: relative;
}
.trendz-wc-product .item img {
height: auto;
width: 100%;
}
.trendz-wc-product .item .product-price {
background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
border-bottom: 5px solid #e3ae1e;
bottom: 0;
color: #000;
height: 75px;
overflow: hidden;
padding: 12px;
position: absolute;
width: 100%;
}
.trendz-wc-product .item .product-price span.price {
margin-top: 5px;
}
.trendz-wc-product .item .product-price span.price ins {
text-decoration: none;
}
.trendz-wc-product .item .product-price strong, .product-information .heading strong, .product-information .add-cart h3, .single-post-item .post-date .date h2, .featured-box span, .single-post-item .post-meta, .widget-calendar .table, .price-range label, .continue-shopping .table input, .update-checkout .table td, .cart .table, .fashion-content h2 {
font-family: 'Conv_calibri';
}
.cart-table .table {
margin-bottom: 0;
}
.trendz-wc-product .item .product-price span.price {
font-size: 18px;
}
.trendz-wc-product .item .product-price h3 {
display: block;
line-height: 8px;
overflow: hidden;
text-overflow: ellipsis;
text-rendering: optimizelegibility;
white-space: nowrap;
}
.trendz-wc-product .item .product-price span.price span {
color: #505050;
display: inline;
font-family: "Lato",sans-serif;
font-size: 18px;
font-weight: bold;
margin-bottom: 0;
}
.trendz-wc-product .item div.icon-links a.added_to_cart {
display: none !important;
}
.woocommerce ul.products li.product .price {
margin-bottom: 0;
}
.woocommerce .woocommerce-info {
border-top-color: #e3ae1e;
}
.woocommerce .woocommerce-info::before {
color: #e3ae1e;
}
.trendz-wc-product .item .product-price span.price del, .trendz-wc-product .item .product-price span.price ins {
display: inline !important;
}
.trendz-wc-product .item .product-price span.price ins {
color: #fff;
}
.trendz-wc-product .item .product-price span.price del, .trendz-wc-product .item .product-price span.price del span {
color: #0064ff !important;
font-size: 12px;
}
.woocommerce ul.products.owl-carousel {
margin-bottom: 0;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
margin-bottom: 40px;
}
.woocommerce .cart-collaterals, .woocommerce-page .cart-collaterals {
width: auto;
}
.woocommerce.trendz-wc-col-3 ul.products.has-long-shadow, .woocommerce.trendz-wc-col-4 ul.products.has-long-shadow, .woocommerce.trendz-wc-col-6 ul.products.has-long-shadow {
margin-left: -15px;
margin-right: -15px;
}
.woocommerce.trendz-wc-product-slider-full ul.products li.product, .woocommerce.trendz-wc-product-slider-full-col-4 ul.products li.product, .woocommerce.trendz-wc-product-slider-half ul.products li.product {
margin-bottom: 0;
width: 100%;
}
.woocommerce.trendz-wc-col-3 ul.products.has-long-shadow li.product {
margin-bottom: 30px;
margin-right: 0;
padding-left: 15px;
padding-right: 15px;
width: 33.3333%;
}
.woocommerce.trendz-wc-col-6 ul.products.has-long-shadow li.product {
margin-bottom: 30px;
margin-right: 0;
padding-left: 15px;
padding-right: 15px;
width: 16.6667%;
}
.woocommerce.trendz-wc-col-4 ul.products.has-long-shadow li.product {
margin-bottom: 30px;
margin-right: 0;
padding-left: 15px;
padding-right: 15px;
width: 25%;
}
.woocommerce.has-long-shadow ul.products.has-long-shadow {
margin-left: -15px;
margin-right: -15px;
}
.woocommerce.has-long-shadow ul.products.has-long-shadow li.product {
margin-bottom: 40px;
margin-right: 0;
padding-left: 15px;
padding-right: 15px;
width: 33.3333%;
}
.woocommerce.trendz-wc-col-3 ul.products.has-long-shadow li.product .trendz-wc-product, .woocommerce.trendz-wc-col-6 ul.products.has-long-shadow li.product .trendz-wc-product {
position: relative;
}
.woocommerce.trendz-wc-col-3 ul.products.has-long-shadow li.product .trendz-wc-product::after, .woocommerce.trendz-wc-col-4 ul.products.has-long-shadow li.product .trendz-wc-product::after, .woocommerce.trendz-wc-col-6 ul.products.has-long-shadow li.product .trendz-wc-product::after {
box-shadow: 1px 1px #d7d7d7, 2px 2px #d7d7d7, 3px 3px #d7d7d7, 4px 4px #d8d8d8, 5px 5px #d8d8d8, 6px 6px #d8d8d8, 7px 7px #d9d9d9, 8px 8px #d9d9d9, 9px 9px #d9d9d9, 10px 10px #dadada, 11px 11px #dadada, 12px 12px #dadada, 13px 13px #dbdbdb, 14px 14px #dbdbdb, 15px 15px #dbdbdb, 16px 16px #dcdcdc, 17px 17px #dcdcdc, 18px 18px #dcdcdc, 19px 19px #ddd, 20px 20px #ddd, 21px 21px #ddd, 22px 22px #dedede, 23px 23px #dedede, 24px 24px #dedede, 25px 25px #dfdfdf, 26px 26px #dfdfdf, 27px 27px #dfdfdf, 28px 28px #e0e0e0, 29px 29px #e0e0e0, 30px 30px #e0e0e0, 31px 31px #e1e1e1, 32px 32px #e1e1e1, 33px 33px #e1e1e1, 34px 34px #e2e2e2, 35px 35px #e2e2e2, 36px 36px #e2e2e2, 37px 37px #e3e3e3, 38px 38px #e3e3e3, 39px 39px #e3e3e3, 40px 40px #e4e4e4, 41px 41px #e4e4e4, 42px 42px #e4e4e4, 43px 43px #e5e5e5, 44px 44px #e5e5e5, 45px 45px #e5e5e5, 46px 46px #e6e6e6, 47px 47px #e6e6e6, 48px 48px #e6e6e6, 49px 49px #e7e7e7, 50px 50px #e7e7e7, 51px 51px #e7e7e7, 52px 52px #e8e8e8, 53px 53px #e8e8e8, 54px 54px #e8e8e8, 55px 55px #e9e9e9, 56px 56px #e9e9e9, 57px 57px #e9e9e9, 58px 58px #eaeaea, 59px 59px #eaeaea, 60px 60px #eaeaea, 61px 61px #ebebeb, 62px 62px #ebebeb, 63px 63px #ebebeb, 64px 64px #ececec, 65px 65px #ececec, 66px 66px #ececec, 67px 67px #ededed, 68px 68px #ededed, 69px 69px #ededed, 70px 70px #eee, 71px 71px #eee, 72px 72px #eee, 73px 73px #efefef, 74px 74px #efefef, 75px 75px #efefef, 76px 76px #f0f0f0, 77px 77px #f0f0f0, 78px 78px #f0f0f0, 79px 79px #f1f1f1, 80px 80px #f1f1f1, 81px 81px #f1f1f1, 82px 82px #f2f2f2, 83px 83px #f2f2f2, 84px 84px #f2f2f2, 85px 85px #f3f3f3, 86px 86px #f3f3f3, 87px 87px #f3f3f3, 88px 88px #f4f4f4, 89px 89px #f4f4f4, 90px 90px #f4f4f4;
content: "";
display: inline-block;
height: 100%;
position: absolute;
top: 0;
width: 100%;
z-index: -1;
}
.trendz-wc-product .item .product-price span.price del, .trendz-wc-product .item .product-price sub {
color: #ce5f5f;
font-size: 12px;
font-weight: normal;
margin-left: 5px;
}
.woocommerce ul.products li.product .onsale {
background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
border-radius: 0;
display: inline-block;
font-size: 11px;
font-weight: 400;
left: -4px;
line-height: 25px;
padding: 0;
text-rendering: optimizelegibility;
top: 5px;
width: 45px;
z-index: 1;
}
.woocommerce ul.products li.product .onsale::before {
background: #ce5f5f none repeat scroll 0 0;
content: "";
display: block;
height: 25px;
position: absolute;
top: 0;
transform: skew(-30deg) translateX(-20px);
-webkit-transform: skew(-30deg) translateX(-20px);
-moz-transform: skew(-30deg) translateX(-20px);
-o-transform: skew(-30deg) translateX(-20px);
-ms-transform: skew(-30deg) translateX(-20px);
width: 140%;
z-index: -1;
}
.woocommerce ul.products li.product a.product-permalink {
font-size: 0;
}
.trendz-wc-product .item div.text-center {
background: #e3ae1e none repeat scroll 0 0;
bottom: -70px;
left: 0;
max-height: 75px;
padding: 20px 0;
position: absolute;
transition: all 0.35s ease 0s;
width: 100%;
}
.trendz-wc-product .item:hover div.text-center {
bottom: 0;
}
.trendz-wc-product .item:hover div.text-center div a {
top: 0;
}
.trendz-wc-product .item div.icon-links a {
color: #fff;
font-size: 18px;
line-height: 35px;
margin: 0 10px;
position: relative;
top: 50px;
}
.trendz-wc-product .item div.icon-links a.button {
margin-top: 0;
padding: 0;
}
.trendz-wc-product .item div.icon-links a.button:hover {
background: transparent none repeat scroll 0 0;
}
.trendz-wc-product .item div.icon-links a i {
height: 20px;
width: 20px;
}
.trendz-wc-product .item div.text-center div.icon-links a:nth-child(1) {
transition: top 0.4s ease-in-out 0s, color 0.35s ease-in-out 0s;
}
.trendz-wc-product .item div.text-center div.icon-links a:nth-child(2) {
transition: top 0.5s ease-in-out 0s, color 0.35s ease-in-out 0s;
}
.trendz-wc-product .item div.text-center div.icon-links a:nth-child(3) {
transition: top 0.6s ease-in-out 0s, color 0.35s ease-in-out 0s;
}
.trendz-wc-product .item div.text-center div.icon-links a.loading i {
opacity: 0;
}
.trendz-wc-product .item div.text-center div.icon-links a:focus {
color: #fff;
}
.trendz-wc-product .item div.text-center div.icon-links a.added i {
display: none;
}
.trendz-wc-product .item div.text-center div.icon-links a.loading::after {
right: 0;
top: 8px;
}
.trendz-wc-product .item div.text-center div.icon-links a.loading::after {
height: 20px;
line-height: 21px;
padding-left: 2px;
vertical-align: middle;
width: 21px;
}
.trendz-wc-product .item div.text-center div.icon-links a.added::after {
margin-left: 0;
}
.trendz-wc-product .item div.icon-links div {
display: none;
}
.trendz-wc-product .item div.icon-links a:hover, .trendz-wc-product .item div.icon-links a:focus {
color: #000;
}
#secondary .widget {
background: #fff none repeat scroll 0 0;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
padding: 30px;
}
.widget .widget-title {
background: #fff none repeat scroll 0 0 !important;
border-bottom: 1px solid #e3ae1e;
color: #e3ae1e;
font-size: 25px;
font-weight: 400;
margin-bottom: 15px;
padding-bottom: 15px;
text-transform: capitalize;
}
.ads-item-carousel-area {
position: relative;
}
.ads-item-control {
color: #e3ae1e;
font-size: 45px;
font-weight: 100;
left: 60px;
opacity: 0;
position: absolute;
top: -30px;
transition: all 0.3s ease-in-out 0s;
}
.ads-item-carousel-area.long-shadow::after {
left: 0;
top: 0;
z-index: -1;
}
.ads-item-control:focus {
color: #e3ae1e;
}
.ads-item-control:hover {
color: #000;
}
.left.ads-item-control {
left: 20px;
}
.ads-item-carousel-area:hover .ads-item-control {
opacity: 1;
top: 20px;
}
.ads-item-carousel-area .item a, .content-top-item-carousel .item a {
display: block;
}
.product-list-area {
margin-top: 100px;
}
.brands, .categories, .filter {
background: #fff none repeat scroll 0 0;
}
.categories h2, .brands h2, .filter h2 {
background: #e3ae1e none repeat scroll 0 0;
color: #fff;
font-weight: 100;
padding: 15px;
text-transform: capitalize;
}
.brands ul {
padding: 15px;
}
.categories .panel {
border: medium none;
box-shadow: none;
}
.categories .panel-title {
background: #fff none repeat scroll 0 0;
color: #4a4a4a;
font-size: 14px;
font-weight: normal;
line-height: 20px;
}
.categories .panel-title > a {
border-bottom: 1px solid #e1e1e1;
color: #7e7e7e;
display: block;
font-weight: bold;
padding: 10px 0;
position: relative;
text-transform: capitalize;
}
.glyphicon {
background: #00a7dd none repeat scroll 0 0;
border-radius: 50%;
color: #fff;
float: right;
font-size: 12px;
padding: 5px;
top: -2px;
}
.categories .panel-group .panel + .panel {
margin-top: 0;
}
.categories .panel-body {
background: transparent none repeat scroll 0 0;
margin-left: 25px;
margin-top: 0;
padding: 0;
}
.categories .panel-body ul li a {
border-bottom: 1px solid #e1e1e1;
color: #7e7e7e;
display: block;
font-weight: normal;
line-height: 20px;
padding: 10px 0;
position: relative;
text-transform: capitalize;
}
.categories .panel-body ul li a::after, .brands ul li a::after, .categories .panel-title > a::after {
background: #e3ae1e none repeat scroll 0 0;
content: "";
height: 34px;
opacity: 0;
position: absolute;
right: 0;
top: 3px;
width: 5px;
}
.categories .panel-body ul li a:hover, .brands ul li a:hover {
font-weight: bold;
}
.categories .panel-body ul li a:hover::after, .brands ul li a:hover::after, .categories .panel-title > a:hover::after {
opacity: 1;
}
.categories .panel-group {
margin: 0;
padding: 15px;
}
.categories .panel-default > .panel-heading {
background: #fff none repeat scroll 0 0;
margin: 0;
padding: 0;
}
.brands ul li a {
color: #7e7e7e;
display: block;
padding: 10px 0;
position: relative;
text-transform: capitalize;
}
.brands ul li a .fa {
margin-right: 5px;
}
.filter .filter-form {
padding: 20px 15px;
}
.filter strong {
display: block;
margin-bottom: 12px;
text-transform: capitalize;
}
.size input[type="radio"], .size input[type="checkbox"] {
display: none;
}
.size input[type="radio"] + label, .size input[type="checkbox"] + label {
background: #fff none repeat scroll 0 0;
border: 1px solid #e1e1e1;
cursor: pointer;
display: inline-block;
font-weight: bold;
height: 35px;
line-height: 35px;
margin-bottom: 0;
margin-right: 8px;
text-align: center;
text-transform: uppercase;
width: 35px;
}
.size input[type="radio"]:checked + label {
background: #e3ae1e none repeat scroll 0 0;
border: 1px solid #e3ae1e;
color: #fff;
}
.size input[type="checkbox"]:checked + label {
border: 1px solid #e3ae1e;
}
.filter .color .red {
background: #e00000 none repeat scroll 0 0;
}
.filter .color .black {
background: #000 none repeat scroll 0 0;
}
.filter .color .green {
background: #8dc63f none repeat scroll 0 0;
}
.price-range input[type="radio"]:not(old) {
display: none;
height: 18px;
width: 18px;
}
.price-range input[type="radio"]:not(old) + label {
cursor: pointer;
display: inline-block;
line-height: 18px;
margin-right: 25px;
width: 110px;
}
.price-range input[type="radio"]:not(old) + label > span {
border: 1px solid #e1e1e1;
display: inline-block;
height: 18px;
margin-right: 8px;
vertical-align: bottom;
width: 18px;
}
.price-range input[type="radio"]:checked:not(old) + label > span > span {
background: #e3ae1e none repeat scroll 0 0;
border: 1px solid #e3ae1e;
display: block;
height: 12px;
margin: 2px;
width: 12px;
}
.filter .custom-price input {
background: transparent none repeat scroll 0 0;
border: 1px solid #e1e1e1;
outline: medium none;
padding: 5px 15px;
width: 43%;
}
.filter .custom-price span {
display: inline-block;
font-weight: bold;
text-align: center;
width: 11%;
}
.filter .btn {
background: #000 none repeat scroll 0 0;
margin-top: 20px;
text-transform: uppercase;
width: 100%;
}
.nav-tabs > li > a {
border: 0 none;
border-radius: 4px 4px 0 0;
line-height: 1.42857;
margin-right: 0;
}
.nav > li > a {
display: block;
left: 0;
padding: 0;
position: relative;
}
.nav > li > a > img {
display: block;
height: 150px;
left: 0;
position: relative;
width: 100px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
border-width: 0;
color: #555;
cursor: default;
}
.product-information {
border: 1px solid #e1e1e1;
color: #505050;
margin-top: 0;
padding: 15px;
}
.product-information ul {
list-style-type: square;
padding-left: 15px;
}
.product-information ul li {
padding-bottom: 5px;
}
.product-information .summury-divider {
border-top: 1px solid rgba(0, 0, 0, 0.05);
clear: both;
float: none;
margin: 20px 0;
}
.product-information a {
color: #7d7d7d;
}
.product-information .heading, .product-information .product-feature, .product-information .share-product, .product-information .choice-size, .product-information .add-cart {
border-bottom: 1px solid #e1e1e1;
padding: 20px 15px;
}
.product-information .heading h4 {
color: #000;
font-weight: 100;
}
.product-information .heading ul {
margin: 15px 0 30px;
}
.product-information .heading li {
display: inline-block;
margin-right: 20px;
}
.product-information .heading li a, .product-information .heading li span {
color: #000;
font-weight: bold;
}
.product-information .heading li a:hover {
color: #e3ae1e;
}
.product-information .heading strong {
color: #000;
font-size: 18px;
text-transform: uppercase;
}
.product-information .heading sub {
color: #ce5f5f;
font-size: 12px;
font-weight: normal;
margin-left: 5px;
}
.product-information .heading strong.stock {
color: #2ecc71;
margin-left: 60px;
}
.product-information .heading strong.stock .fa {
background: #2ecc71 none repeat scroll 0 0;
border-radius: 50%;
color: #fff;
font-size: 14px;
height: 18px;
line-height: 17px;
position: relative;
text-align: center;
top: -4px;
width: 18px;
}
.product-information .product-feature ul {
list-style-type: disc;
padding-left: 15px;
}
.product-information .share-product ul.email-print {
float: left;
width: 55%;
}
.product-information .share-product ul.email-print li {
margin-right: 25px;
}
.product-information .share-product ul li {
display: inline-block;
}
.product-information .share-product ul.fa-tweet li a {
height: 20px;
overflow: hidden;
text-indent: 9999px;
width: 56px;
}
.product-information .share-product ul li .fa {
margin-right: 8px;
}
.woocommerce-variation-price {
font-size: 30px;
margin-bottom: 15px;
text-align: center;
}
.product-information .add-cart h3 {
color: #000;
font-size: 34px;
font-weight: bold;
margin: 30px auto;
}
.product-information .add-cart .btn {
color: #fff;
padding: 12px 40px;
text-transform: uppercase;
}
.product-information .brand {
border-bottom: 1px solid #e1e1e1;
}
.product-information .brand ul li {
border-right: 1px solid #e1e1e1;
display: inline-block;
padding: 20px 0 20px 15px;
width: 49%;
}
.product-information .brand ul li:last-child {
border-right: medium none;
}
.product-information .tags {
padding: 20px 0 20px 15px;
}
.product-information .product-brand a {
color: #e3ae1e;
margin-left: 3px;
text-transform: capitalize;
}
.product-ads a {
margin-bottom: 0px;
}
.blog-list-area {
color: #7e7e7e;
padding: 100px 0 80px;
position: relative;
z-index: 15;
}
.single-post-item {
background: #fff none repeat scroll 0 0;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
padding: 30px;
}
.post-img-carousel-area {
margin-bottom: 20px;
}
.tz-featured-image {
margin-bottom: 20px;
text-align: center;
}
.tz-featured-image img {
max-height: 450px;
width: auto;
}
.header-meta {
border-bottom: 1px solid #e3ae1e;
color: #adadad;
font-size: 12px;
padding-bottom: 10px;
}
.single-post .header-meta {
margin-bottom: 15px;
}
.header-meta::after {
clear: both;
content: "";
display: block;
float: none;
}
.header-meta .date {
color: #adadad;
float: left;
}
.header-meta .comment-view {
float: right;
}
.header-meta .comment-view a {
color: #adadad;
}
.header-meta .comment-view i.fa-comments {
margin-right: 5px;
}
.header-meta .comment-view .separator {
margin: 0 5px;
}
.blog-carousel-area {
overflow: hidden;
position: relative;
}
.post-img-carousel-area .item img {
height: auto;
width: 100%;
}
.blog-grid-item {
margin-bottom: 40px;
}
.blog-carousel-control, .widget .blog-carousel-control {
color: #fff;
}
.blog-carousel-area:hover .blog-carousel-control {
bottom: 0;
}
.blog-carousel-control, .blog-carousel-control:focus {
background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
bottom: -50px;
color: #fefefe;
font-size: 30px;
font-weight: 100;
position: absolute;
right: 0;
text-align: center;
transition: all 0.3s ease-in-out 0s;
width: 50px;
}
.blog-carousel-control.left {
left: 0;
}
.blog-carousel-control.right {
right: 0;
}
.blog-carousel-control i {
line-height: 50px;
}
.blog-carousel-control:hover {
color: #e3ae1e;
}
.left.blog-carousel-control {
right: 40px;
}
.blog-grid-item img {
height: auto;
max-width: 100%;
}
.btn:hover {
color: #f5f5f5;
}
.load-more a {
text-transform: uppercase;
}
.trendz-search-article {
background: #fff none repeat scroll 0 0;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
margin-bottom: 30px;
padding: 30px;
}
.trendz-search-article a {
color: #e3ae1e;
transition: all 0.3s ease-in-out 0s;
}
.blank-page .entry-content {
background: #fff none repeat scroll 0 0;
margin-bottom: 40px;
padding: 30px;
}
.trendz-search-article a:hover {
color: #000;
}
.trendz-search-article .entry-header {
margin-bottom: 15px;
}
.trendz-search-article .entry-footer {
margin-bottom: 0;
}
.trendz-search-article .entry-footer span {
margin-right: 15px;
}
.trendz-search-article h2 {
margin-bottom: 10px;
}
.trendz-post-meta a {
color: #8d8d8d;
}
.trendz-post-meta a:hover {
color: #e3ae1e;
}
.trendz-pagination {
font-family: 'Conv_calibri';
text-align: left;
}
.trendz-pagination ul.pagination {
font-size: 14px;
margin: 0 0 30px;
}
.trendz-pagination ul.pagination li a, .trendz-pagination ul.pagination li span {
border: 0 none;
border-radius: 0;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
color: #8d8d8d;
margin-right: 10px;
padding: 8px 14px;
transition: all 0.3s ease-in-out 0s;
}
.trendz-pagination ul.pagination li a:hover, .trendz-pagination ul.pagination li span:hover {
background: #000 none repeat scroll 0 0;
color: #fff;
}
.trendz-pagination ul.pagination li span.current {
background: #e3ae1e none repeat scroll 0 0;
color: #fff;
}
.post-video-container iframe {
height: auto;
margin-bottom: 20px;
min-height: 220px;
width: 100%;
}
.posts-navigation {
margin-bottom: 15px;
padding: 0 15px;
}
.posts-navigation h2 {
font-size: 32px;
margin-bottom: 15px;
}
.posts-navigation .nav-previous, .posts-navigation .nav-next {
display: inline;
}
.posts-navigation .nav-links a, .posts-navigation .nav-links a:focus {
color: #e3ae1e;
margin-right: 15px;
transition: color 0.3s ease-in-out 0s;
}
.posts-navigation .nav-links a:hover {
color: #000;
}
.call-to-action-home {
background-color: #000;
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
clear: both;
margin: 0 15px 40px;
position: relative;
}
.call-to-action-home .content::after {
clear: both;
content: "";
display: table;
float: none;
}
.call-to-action-home .overlay {
height: 100%;
opacity: 0.7;
position: absolute;
width: 100%;
z-index: 0;
}
.call-to-action-home .content {
color: #fff;
display: table;
height: 160px;
padding: 0 50px;
position: relative;
text-transform: uppercase;
width: 100%;
z-index: 100;
}
.call-to-action-home .content .text {
display: table-cell;
font-size: 30px;
font-weight: 700;
letter-spacing: 3px;
margin: 0;
text-align: left;
vertical-align: middle;
}
.call-to-action-home .content .link {
display: table-cell;
text-align: right;
vertical-align: middle;
}
.call-to-action-home .content .link span {
border: 2px solid #fff;
color: #fff;
display: inline-block;
font-size: 16px;
font-weight: 700;
letter-spacing: 3px;
line-height: 50px;
padding: 0 60px;
text-align: right;
transition: all 0.3s ease-in-out 0s;
}
.call-to-action-home .content .link:hover span {
background: #000 none repeat scroll 0 0;
border-color: #000;
}
.icon-links-widget {
clear: both;
float: none;
margin: 0 15px 40px;
}
.icon-links-widget.long_shadow {
box-shadow: 1px 1px #d7d7d7, 2px 2px #d7d7d7, 3px 3px #d7d7d7, 4px 4px #d8d8d8, 5px 5px #d8d8d8, 6px 6px #d8d8d8, 7px 7px #d9d9d9, 8px 8px #d9d9d9, 9px 9px #d9d9d9, 10px 10px #dadada, 11px 11px #dadada, 12px 12px #dadada, 13px 13px #dbdbdb, 14px 14px #dbdbdb, 15px 15px #dbdbdb, 16px 16px #dcdcdc, 17px 17px #dcdcdc, 18px 18px #dcdcdc, 19px 19px #ddd, 20px 20px #ddd, 21px 21px #ddd, 22px 22px #dedede, 23px 23px #dedede, 24px 24px #dedede, 25px 25px #dfdfdf, 26px 26px #dfdfdf, 27px 27px #dfdfdf, 28px 28px #e0e0e0, 29px 29px #e0e0e0, 30px 30px #e0e0e0, 31px 31px #e1e1e1, 32px 32px #e1e1e1, 33px 33px #e1e1e1, 34px 34px #e2e2e2, 35px 35px #e2e2e2, 36px 36px #e2e2e2, 37px 37px #e3e3e3, 38px 38px #e3e3e3, 39px 39px #e3e3e3, 40px 40px #e4e4e4, 41px 41px #e4e4e4, 42px 42px #e4e4e4, 43px 43px #e5e5e5, 44px 44px #e5e5e5, 45px 45px #e5e5e5, 46px 46px #e6e6e6, 47px 47px #e6e6e6, 48px 48px #e6e6e6, 49px 49px #e7e7e7, 50px 50px #e7e7e7, 51px 51px #e7e7e7, 52px 52px #e8e8e8, 53px 53px #e8e8e8, 54px 54px #e8e8e8, 55px 55px #e9e9e9, 56px 56px #e9e9e9, 57px 57px #e9e9e9, 58px 58px #eaeaea, 59px 59px #eaeaea, 60px 60px #eaeaea, 61px 61px #ebebeb, 62px 62px #ebebeb, 63px 63px #ebebeb, 64px 64px #ececec, 65px 65px #ececec, 66px 66px #ececec, 67px 67px #ededed, 68px 68px #ededed, 69px 69px #ededed, 70px 70px #eee, 71px 71px #eee, 72px 72px #eee, 73px 73px #efefef, 74px 74px #efefef, 75px 75px #efefef, 76px 76px #f0f0f0, 77px 77px #f0f0f0, 78px 78px #f0f0f0, 79px 79px #f1f1f1, 80px 80px #f1f1f1, 81px 81px #f1f1f1, 82px 82px #f2f2f2, 83px 83px #f2f2f2, 84px 84px #f2f2f2, 85px 85px #f3f3f3, 86px 86px #f3f3f3, 87px 87px #f3f3f3, 88px 88px #f4f4f4, 89px 89px #f4f4f4, 90px 90px #f4f4f4;
}
.icon-links-widget .icon-link-container {
background: #fff none repeat scroll 0 0;
border-left: 1px solid #e7e7e7;
border-top: 1px solid #e7e7e7;
}
.icon-links-widget .icon-link-container li {
border-bottom: 1px solid #e7e7e7;
border-right: 1px solid #e7e7e7;
float: left;
padding-left: 70px;
position: relative;
width: 25%;
}
.icon-links-widget .icon-link-container li span {
border-right: 1px solid #d3d3d3;
color: #d3d3d3;
display: inline-block;
font-size: 25px;
left: 15px;
margin-right: 15px;
padding-right: 15px;
position: absolute;
top: 50%;
transform: translateY(-50%);
-moz-transform: translateY(-50%);
-webkit-transform: translateY(-50%);
-o-transform: translateY(-50%);
-ms-transform: translateY(-50%);
}
.icon-links-widget .icon-link-container li a {
color: #505050;
display: inline-block;
font-size: 13px;
font-weight: 700;
letter-spacing: 3px;
line-height: 60px;
position: relative;
text-transform: uppercase;
}
.icon-links-widget .icon-link-container li a:hover {
color: #e3ae1e;
transition: all 0.3s ease-in-out 0s;
}
.icon-links-widget .icon-link-container::after {
clear: both;
content: "";
display: table;
}
.return-policy .single-policy a {
background: #fff none repeat scroll 0 0;
color: #d3d3d3;
display: block;
font-size: 18px;
padding: 30px 0;
text-align: center;
transition: all 0.25s ease-in-out 0s;
}
.return-policy .single-policy a:hover {
background: #e3ae1e none repeat scroll 0 0;
color: #fff;
}
.return-policy .single-policy a .fa {
font-size: 30px;
margin-bottom: 20px;
padding: 0 10px;
}
.return-policy .single-policy a:hover span.title, .return-policy .single-policy a:hover span.desc, .return-policy .single-policy a:hover .fa {
color: #fff;
}
.return-policy .single-policy a span {
display: block;
text-transform: uppercase;
}
.return-policy .single-policy a span.title {
color: #e3ae1e;
font-size: 16px;
font-weight: 700;
letter-spacing: 4px;
margin-bottom: 10px;
}
.return-policy .single-policy a span.desc {
color: #505050;
font-size: 12px;
letter-spacing: 3px;
}
.sidebar-widget {
border: 1px solid #e1e1e1;
}
.widget-ads {
border: 0 none;
}
.sidebar-widget h3 {
border-bottom: 1px solid #e1e1e1;
font-weight: 300;
letter-spacing: 1px;
padding: 20px 15px;
text-transform: capitalize;
}
.widget-subscribe .subscribe {
padding: 20px 15px;
}
.widget-subscribe input[type="email"] {
border: 1px solid #e1e1e1;
border-radius: 0;
font-size: 11px;
padding: 10px;
width: 86%;
}
.widget-subscribe .subscribe .btn {
background: #000 none repeat scroll 0 0;
display: inline-block;
left: -4px;
position: relative;
}
.widget-calendar .table caption {
padding: 20px;
position: relative;
text-align: center;
}
.widget-calendar .table caption a {
color: #e3ae1e;
position: absolute;
}
.widget-calendar .table .previous-year {
left: 20px;
}
.widget-calendar .table .next-year {
right: 20px;
}
.widget-calendar .table caption span {
font-size: 16px;
text-align: center;
text-transform: uppercase;
}
.widget-calendar.table > tbody > tr > td {
border-top: 0 solid #ddd;
text-align: center;
}
.widget-calendar .table thead tr th {
border: medium none;
font-size: 13.99px;
font-weight: normal;
text-align: center;
}
.widget-calendar.table tbody td {
border: medium none;
font-size: 12px;
font-weight: bold;
}
.widget-calendar .table tbody td a {
background: #e3ae1e none repeat scroll 0 0;
color: #fff;
display: block;
padding: 5px;
}
.widget-calendar .table > tbody > tr > td, .widget-calendar .table > thead > tr > th {
text-align: center;
}
.attachment #main, .single-post #main {
background: #fff none repeat scroll 0 0;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.post-navigation {
border-bottom: 1px solid rgba(0, 0, 0, 0.05);
border-top: 1px solid rgba(0, 0, 0, 0.05);
margin: 15px 30px;
padding-bottom: 10px;
padding-top: 20px;
}
.post-navigation a {
color: #e3ae1e;
}
.post-navigation h2 {
font-size: 32px;
margin-bottom: 15px;
}
.post-navigation .nav-links a {
margin-bottom: 15px;
}
.next-previous-pagination {
height: 40px;
position: relative;
}
.next-previous-pagination .previous-post {
left: 15px;
position: absolute;
}
.single-post-thumb-slider {
padding-bottom: 0;
}
.attachment article, .single-post article {
padding: 30px 30px 15px;
}
.single-post-thumb-slider, .single-post .entry-header, .single-post .entry-content {
background: #fff none repeat scroll 0 0;
}
.single-post .entry-content {
padding: 15px 0;
}
.attachment .entry-header h1, .single-post .entry-header h1 {
color: #e3ae1e;
font-size: 28px;
font-weight: 400;
}
.page .entry-header h1 {
background: #e3ae1e none repeat scroll 0 0;
color: #fff;
font-size: 30px;
font-weight: 400;
letter-spacing: 2px;
line-height: 70px;
margin-bottom: 40px;
padding-left: 30px;
position: relative;
text-transform: capitalize;
}
.single-post .entry-content {
margin-top: 0;
}
.single-post .entry-footer a {
color: #e3ae1e;
}
.single-post .entry-footer span {
margin-right: 5px;
}
.next-previous-pagination .next-post {
position: absolute;
right: 15px;
}
.post-author-info {
border-bottom: 1px solid rgba(0, 0, 0, 0.05);
border-top: 1px solid rgba(0, 0, 0, 0.05);
margin-bottom: 30px;
padding-bottom: 15px;
padding-top: 30px;
}
.post-author-info .display-picture {
padding-right: 0;
}
.post-author-info .avatar {
border: 6px solid #e5e5e5;
border-radius: 100%;
height: auto;
margin-bottom: 15px;
max-width: 100%;
}
.post-author-info .display-name {
border-bottom: 1px solid #fff;
font-weight: 700;
margin: 5px 0;
padding-bottom: 8px;
text-transform: uppercase;
}
.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6, .entry-content > ul, .entry-content > ol, .entry-content > dl {
margin-bottom: 15px;
}
.entry-content h2 {
font-size: 32px;
}
.entry-content h3 {
font-size: 28px;
}
.entry-content h4 {
font-size: 24px;
}
.entry-content h5 {
font-size: 20px;
}
.entry-content h6 {
font-size: 16px;
}
.entry-content ul {
list-style-type: square;
padding-left: 30px;
}
.entry-content ul li, .entry-content ol li {
line-height: 25px;
}
.entry-content ol {
list-style-type: decimal;
padding-left: 30px;
}
.entry-content dl dt {
margin-bottom: 10px;
}
.entry-content dl dd {
margin-bottom: 10px;
padding-left: 25px;
position: relative;
}
.entry-content dl dd::before {
content: "";
font-family: "fontawesome";
left: 10px;
position: absolute;
top: -1px;
}
.entry-content img {
height: auto;
max-width: 100%;
}
.entry-content code {
color: #e3ae1e;
}
.entry-content blockquote {
background: #fbfbfb none repeat scroll 0 0;
border: medium none;
margin-bottom: 15px;
padding-left: 66px;
position: relative;
}
.entry-content blockquote::before {
background-color: #aaa;
color: #fff;
content: "";
display: block;
font-family: "fontawesome";
font-size: 40px;
height: 100%;
left: 0;
line-height: 45px;
position: absolute;
text-align: center;
top: 0;
width: 50px;
}
.continue_shopping{
	background: #e3ae1e !important;
    color: #fff !important;
    padding: 9px 20px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 45px;
}
.entry-content a {
color: #e3ae1e;
}
.entry-content table {
border: 1px solid #eaeaea;
margin-bottom: 15px;
}
.entry-content table td, .entry-content table th {
border: 1px solid #eaeaea;
padding: 5px 10px;
text-align:center;
}
.entry-content figure figcaption {
color: #e9be4b;
}
.entry-content address {
font-style: italic;
}
.entry-content a.readmore, .entry-content a.readmore:focus {
background: #e3ae1e none repeat scroll 0 0;
border: 0 none;
border-radius: 0;
color: #fff;
display: block;
font-size: 18px;
font-weight: 500;
letter-spacing: 2px;
padding: 10px 15px;
position: relative;
text-transform: uppercase;
transition: all 0.3s ease-in-out 0s;
}
.entry-content a.readmore:hover {
background: #000 none repeat scroll 0 0;
color: #fff;
}
.entry-content iframe {
height: auto;
min-height: 400px;
width: 100%;
}
.entry-content .entry-title {
font-size: 32px;
margin-bottom: 15px;
}
.entry-content .entry-title a {
color: #e3ae1e;
display: block;
font-size: 28px;
transition: all 0.2s ease-in-out 0s;
word-wrap: break-word;
}
.entry-content .entry-title a:hover {
color: #000;
}
.format-link .entry-title a::after {
content: "";
font-size: 24px;
height: 24px;
position: relative;
top: 0;
width: 24px;
}
.blog .format-status .entry-title, .archive .format-status .entry-title {
display: none;
}
.entry-footer a {
color: #e3ae1e;
}
.archive .post {
margin-bottom: 30px;
}
.page-header {
border-bottom: 0 none;
margin: 0;
padding-bottom: 0;
}
.taxonomy-description a {
border-bottom: 1px solid #333;
}
.taxonomy-description a:hover, .taxonomy-description a:focus {
border-bottom: 0 none;
}
.taxonomy-description > *:last-child {
margin-bottom: 0;
}
.page-content {
background-color: #fff;
}
.page-content > *:last-child {
margin-bottom: 0;
}
.page-links {
clear: both;
margin-bottom: 1.3333em;
}
.page-links a, .page-links > span {
border: 1px solid rgba(51, 51, 51, 0.1);
display: inline-block;
font-size: 1.2rem;
height: 2em;
line-height: 2;
margin: 0 0.3333em 0.3333em 0;
text-align: center;
width: 2em;
}
.page-links a {
background-color: #333;
border-color: #333;
color: #fff;
}
.page-links a:hover, .page-links a:focus {
background-color: rgba(51, 51, 51, 0.7);
border-color: transparent;
color: #fff;
}
.page-links > .page-links-title {
border: 0 none;
color: rgba(51, 51, 51, 0.7);
height: auto;
margin: 0;
padding-right: 0.5em;
width: auto;
}
.entry-attachment {
margin-bottom: 1.6em;
}
.type-attachment .entry-title {
hyphens: auto;
word-wrap: break-word;
}
.entry-caption {
color: rgba(51, 51, 51, 0.7);
font-family: 'Conv_calibri';
font-size: 1.2rem;
hyphens: auto;
line-height: 1.5;
padding-top: 0.5em;
word-wrap: break-word;
}
.entry-caption > *:last-child {
margin-bottom: 0;
}
.comment-content h1, .comment-content h2, .comment-content h3, .comment-content h4, .comment-content h5, .comment-content h6, .comment-content > ul, .comment-content > ol, .comment-content > dl {
margin-bottom: 15px;
}
.comment-content h2 {
font-size: 32px;
}
.comment-content h3 {
font-size: 28px;
}
.comment-content h4 {
font-size: 24px;
}
.comment-content h5 {
font-size: 20px;
}
.comment-content h6 {
font-size: 16px;
}
.comment-content ul {
list-style-type: square;
padding-left: 30px;
}
.comment-content ul li, .comment-content ol li {
line-height: 25px;
}
.comment-content ol {
list-style-type: decimal;
padding-left: 30px;
}
.comment-content dl dt {
margin-bottom: 10px;
}
.comment-content dl dd {
margin-bottom: 10px;
padding-left: 25px;
position: relative;
}
.comment-content dl dd::before {
content: "";
font-family: "fontawesome";
left: 10px;
position: absolute;
top: -1px;
}
.comment-content img {
height: auto;
max-width: 100%;
}
.comment-content code {
color: #e3ae1e;
}
.comment-content blockquote {
background: #fbfbfb none repeat scroll 0 0;
border: medium none;
margin-bottom: 15px;
padding-left: 66px;
position: relative;
}
.comment-content blockquote::before {
background-color: #aaa;
color: #fff;
content: "";
display: block;
font-family: "fontawesome";
font-size: 40px;
height: 100%;
left: 0;
line-height: 45px;
position: absolute;
text-align: center;
top: 0;
width: 50px;
}
.comment-content a {
color: #e3ae1e;
}
.comment-content table {
border: 1px solid #eaeaea;
margin-bottom: 15px;
}
.comment-content table td, .comment-content table th {
border: 1px solid #eaeaea;
padding: 5px 10px;
}
.comment-content figure figcaption {
color: #e9be4b;
}
.comment-content address {
font-style: italic;
}
.comment-content a.readmore, .comment-content a.readmore:focus {
color: #fff;
display: block;
}
.comment-content iframe {
height: auto;
min-height: 400px;
width: 100%;
}
.comment-content p {
line-height: 24px;
margin-bottom: 15px;
}
.comments-area {
margin-bottom: 40px;
padding: 0 30px 30px;
}
.comments-area > *:last-child {
margin-bottom: 0;
}
.comment-list + .comment-respond {
border-top: 1px solid rgba(51, 51, 51, 0.1);
}
.comment-list + .comment-respond, .comment-navigation + .comment-respond {
padding-top: 1.6em;
}
.comments-title, .comment-reply-title {
font-size: 32px;
}
.comments-title {
margin-bottom: 1.3333em;
}
.comment-list {
list-style: outside none none;
margin: 0;
}
.comment-list article, .comment-list .pingback, .comment-list .trackback {
border-top: 1px solid rgba(51, 51, 51, 0.1);
padding: 1.6em 0;
}
.comment-list .children {
list-style: outside none none;
margin: 0;
}
.comment-list .children > li {
padding-left: 30px;
}
.comment-author {
color: rgba(51, 51, 51, 0.7);
margin-bottom: 0.4em;
}
.comment-author a {
color: #333;
}
.comment-author a:hover {
color: #e3ae1e;
}
.comment-author .avatar {
float: left;
height: 40px;
margin-right: 0.8em;
width: 40px;
}
footer.comment-meta {
border-bottom: 1px solid #e3ae1e;
margin-bottom: 15px;
}
div.comment-metadata {
margin-bottom: 15px;
}
.bypostauthor > article .fn::after {
content: "";
left: 3px;
position: relative;
top: 5px;
}
.comment-metadata, .pingback .edit-link {
color: rgba(51, 51, 51, 0.7);
font-family: 'Conv_calibri';
font-size: 1.2rem;
line-height: 1.5;
}
.comment-metadata a, .pingback .edit-link a {
color: rgba(51, 51, 51, 0.7);
}
.comment-metadata a:hover, .comment-metadata a:focus, .pingback .edit-link a:hover, .pingback .edit-link a:focus {
color: #e3ae1e;
}
.comment-metadata {
margin-bottom: 1.6em;
}
.comment-metadata .edit-link {
margin-left: 1em;
}
.pingback .edit-link {
margin-left: 1em;
}
.pingback .edit-link::before {
top: 5px;
}
.comment-content ul, .comment-content ol {
margin: 0 0 1.6em 1.3333em;
}
.comment-content li > ul, .comment-content li > ol {
margin-bottom: 0;
}
.comment-content > *:last-child {
margin-bottom: 0;
}
.comment-list .reply {
font-size: 1.2rem;
}
.comment-list .reply a {
background: #e3ae1e none repeat scroll 0 0;
color: #fff;
font-size: 18px;
font-weight: 500;
margin-top: 15px;
padding: 10px 15px;
position: relative;
transition: all 0.3s ease-in-out 0s;
}
.comment-list .reply a:hover, .comment-list .reply a:focus {
background: #000 none repeat scroll 0 0;
color: #fff;
outline: 0 none;
}
.comment-form {
padding-top: 1.6em;
}
.comment-form-comment br {
display: none;
}
.comment-form label {
color: #707070;
display: block;
font-size: 15px;
font-weight: 400;
line-height: 1;
}
.comment-form input[type="text"], .comment-form input[type="email"], .comment-form input[type="url"], .comment-form input[type="submit"] {
width: 100%;
}
.wpcf7 p input[type="submit"], .checkout_coupon input[type="submit"], .comment-form input[type="submit"], .register input[type="submit"], .login input[type="submit"] {
background: #e3ae1e none repeat scroll 0 0;
border: 0 none;
border-radius: 0;
color: #fff;
font-size: 18px;
font-weight: 500;
letter-spacing: 2px;
padding: 10px 15px;
position: relative;
text-transform: uppercase;
transition: all 0.3s ease-in-out 0s;
-moz-transition: all 0.3s ease-in-out 0s;
-webkit-transition: all 0.3s ease-in-out 0s;
-o-transition: all 0.3s ease-in-out 0s;
-ms-transition: all 0.3s ease-in-out 0s;
}
.login input[type="submit"] {
margin-right: 15px;
}
.wpcf7 p input[type="submit"]:hover, .comment-form input[type="submit"]:hover, .register input[type="submit"]:hover, .login input[type="submit"]:hover {
background: #000 none repeat scroll 0 0;
color: #fff;
}
.comment-notes, .comment-awaiting-moderation, .logged-in-as, .form-allowed-tags {
color: rgba(51, 51, 51, 0.7);
font-family: "Noto Sans",sans-serif;
font-size: 1.2rem;
line-height: 1.5;
margin-bottom: 2em;
}
.logged-in-as a {
color: #e3ae1e;
}
.logged-in-as a:hover {
color: #e3ae1e;
}
.no-comments {
border-top: 1px solid rgba(51, 51, 51, 0.1);
color: rgba(51, 51, 51, 0.7);
font-family: 'Conv_calibri';
font-weight: 700;
padding-top: 1.6em;
}
.comment-navigation + .no-comments {
border-top: 0 none;
}
.form-allowed-tags code {
font-family: 'Conv_calibri';
}
.form-submit {
margin-bottom: 0;
}
.required {
color: #c0392b;
}
.comment-reply-title small {
font-size: 100%;
}
.comment-reply-title small a {
border: 0 none;
float: right;
height: 32px;
overflow: hidden;
width: 26px;
}
.comment-reply-title small a::before {
content: "";
font-size: 32px;
position: relative;
top: -3px;
}
.call-to-action h3 {
margin-bottom: 30px;
}
.call-to-action input {
border: 1px solid #f2f2f2;
border-radius: 0;
font-size: 11px;
padding: 10px 20px;
width: 50%;
}
.widget-popular-post-carousel .popular-item {
position: relative;
}
.widget-popular-post-carousel .popular-item img {
height: auto;
width: 100%;
}
.widget-popular-post-carousel .item-heading {
background: rgba(244, 244, 243, 0.9) none repeat scroll 0 0;
font-weight: 300;
height: 92px;
opacity: 0;
padding: 20px 15px;
position: absolute;
top: -150px;
transition: all 0.5s ease-in-out 0s;
width: 100%;
}
.widget-popular-post-carousel .item-heading a {
color: #8b8b8b;
display: block;
}
.widget-popular-post-carousel .popular-item:hover .item-heading {
opacity: 1;
top: 0;
}
.widget a {
color: #8b8b8b;
transition: all 0.3s ease-in-out 0s;
}
.widget a:hover {
color: #000;
}
.widget_search .screen-reader-text, .widget_product_search .screen-reader-text {
display: none;
}
.widget_search .sear