.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fff;
    padding: 30px;
    border: 1px solid #888;
    width: 35%;
	border-radius:8px;
	top:50%;
	left:50%;
	position:relative;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
}
.message{
	font-size:23px;
	color:#ecc766;
	text-align:center;
}
.modal-content form{
	margin-bottom:0;
}
.input_box{
	width:100%;
	height:36px;
	border-radius:4px;
	border:1px solid #ddd;
	padding:0 15px;
	background:#eee;
}
.btn_bar{
	margin-top:35px;
	display:flex;
}
.btn_bar .btn_div{
	float:left;
	width:100px;
	height:35px;
	border-radius:6px;
	text-align:center;
	line-height:35px;
	margin:0 15px;
	border:none;
	cursor:pointer;
	margin: 0 auto;
	box-shadow:1px 1px 2px rgba(0,0,0,0.6);
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.6);
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.6);
	-ms-box-shadow:1px 1px 2px rgba(0,0,0,0.6);
	-o-box-shadow:1px 1px 2px rgba(0,0,0,0.6);
}
.save_btn{
	background:green;
	color:#fff;
}
.del_btn{
	background:red;
	color:#fff;
}
.close_btn{
	background:rgb(165,42,42);
	color:#fff;
	
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}