@font-face {
font-family: 'Conv_calibri';
src: url('../fonts/calibri.eot');
src: local('☺'), url('../fonts/calibri.woff') format('woff'), url('../fonts/calibri.ttf') format('truetype'), url('../fonts/calibri.svg') format('svg');
font-weight: normal;
font-style: normal;
}

/******* my css ****/
.mailborder{padding:10px; border:1px solid Green;}
.tob_bannerdiv{display:block; overflow:hidden;}

.sortby{padding:10px ; display:block; overflow:hidden; border-bottom:solid 1px #EDEDED; border-top:solid 1px #EDEDED; margin:20px 0 0 0; background:#fff;}
.sortby_right {float:right;}
.sortby_right select{float:left;}
.sortby_right label{float:left; padding:0 10px;}
.title_divvj{margin:20px 0 0px  0;}
.center_box_title samp{display:block; overflow:hidden;}
.center_box_title samp.line_border{width:20%; margin:auto; background:url(../images/line_title.png) repeat-x center center;}
.title_divvj .center_box_title{margin:auto; text-align:center;}
.title_divvj .center_box_title h3{font-size:15px;  padding: 5px; display: inline-block; background:#F5F5F5;}
.title_divvj h2{text-align:center; font-size:20px; background:url(../images/buttom_title_line.png) no-repeat bottom center; padding:5px 0 15px 0 ;}
/*
.product_list .onsale::before {
background: #fff; border-bottom: solid 1px #D7D7D7; border-righ: solid 1px #D7D7D7;
content: "";
display: block;
height: 65px;
position: absolute;
top: 0;
left:18px;
background-color:#e3ae1e;
transform: skew(25deg) translateX(-31px);
-moz-transform: skew(25deg) translateX(-31px);
-webkit-transform: skew(25deg) translateX(-31px);
-o-transform: skew(25deg) translateX(-31px);
-ms-transform: skew(25deg) translateX(-31px);
width: 50%;
z-index: -1;
}

.product_list .item_div .onsale {
border-radius: 0;
display: inline-block;
font-size: 11px;
font-weight: 400;
left: -4px;
line-height: 7px;
padding: 0;
text-rendering: optimizelegibility;
top: 5px;
width: 50%;
z-index: 1;
}
*/
.item_div .images_box{display:block; overflow:hidden; padding:5px ; position:relative; height:350px;}
.item_div .images_box{text-align:center;}
.item_div .images_box img{width:100%; ve height:100%;}

.bigfont{
	font-size:20px;
}
.padleft{
	padding-left:25px;
	text-transform:inherit;
}
.dummy {
padding-top: 100%;
}
.product-name{
    font-size: 18px;
    font-weight: bold;
}
.product_list .item_div{display:block; background:#fff; border:solid 1px #D7D7D7; position:relative; overflow:hidden; z-index:0; margin:25px 0 0 0;}
.item_div .title_pricediv .title_price span{float:left;}

.item_div .title_pricediv .title_price{ text-align:center;}
.item_div .title_pricediv .title_producename{padding:10px 0px 4px 0; text-align:center; font-size:20px;text-transform: uppercase; color:#E3AE1E;}
.item_div .title_pricediv .title_producename a{color:#333;}

.item_div .title_pricediv .title_price a i{font-weight:bold;}
.item_div .title_pricediv .title_price .item a i{font-weight:100;}
.item_div .title_pricediv .title_price {display:block;}
.item_div .title_pricediv .title_price a{display:block; font-size:18px; padding:0px 0px 15px 0 ; color:#E3AE1E;}

.item_div .title_pricediv .title_price span{padding:10px 0 0 0; display:block;}
.item_div .title_pricediv .title_price h2{font-size:20px; color:white; padding:10px 0;}
.button_droduct_list{display:block;}

.produt_innerbox .product_imgbox .center_img_box a{display:block; padding:5px;}
.produt_innerbox .product_imgbox .center_img_box a img{height:97%;}
.button_droduct_list .onsale_button{
border-radius: 0;
display: inline-block;
font-size: 11px;
font-weight: 400;
right: -4px;
line-height: 41px;
padding: 5px;
text-rendering: optimizelegibility;

width: 100%;
z-index: 1;
}
.product-ads a{margin:0;}
.button_droduct_list {padding:0 0 2px 0;}
.button_droduct_list .right_button{float:right; padding:0 20px;}
.button_droduct_list .right_button a{color:#fff; font-size:13px; font-weight:bold; padding:0 8px; border-top:3px solid #E3AE1E; float:left;}
.button_droduct_list .right_button a:hover{background:#c38e00;transition: all 0.2s ease-in-out 0s; border-top:3px solid #fff;}
.button_droduct_list .right_button a i{padding:0 3px 0 0;}
.foote_mail{display:block; overflow:hidden; margin:80px 0 0 0;}
.footer_bg{background:#E3AE1E;}
.footer_bg .neslatter_box{background:#fff; display:block; overflow:hidden; transform: skew(15deg) translateX(0px);
-webkit-transform: skew(15deg) translateX(0px);
-mox-transform: skew(15deg) translateX(0px);
-o-transform: skew(15deg) translateX(0px);
-ms-transform: skew(15deg) translateX(0px);

}
.profile ul li a span {
background: #FFFFFF;
border-radius: 25px 25px 25px 25px;
display: inline-block;
font-size: 12px;
font-weight: 500;
height: 40px;
line-height: 40px;
margin-left: 9px;
text-align: center;
vertical-align: middle;
width: 40px;
}
#label label i{line-height:45px;}
.neslatter_box .neslatter{display:block; overflow:hidden; }
.neslatter_box .neslatter label{float:left; padding:10px 20px; font-size:18px; }
.neslatter_box .neslatter input.newsform{float:left; padding:11px; background:#EAEAEA; border:none; border-radius:5px 0 0 5px; width:40%; height:40px;}
.neslatter_box .neslatter button.submit{float:left; background:#E3AE1E; padding:6px 20px; color:#fff;border-radius:0 5px 5px 0; font-size:18px; border:none; font-weight:bold; height:40px;}
.top_social_vj{display:block;}
.top_social_vj ul li{display:block; float:left;}	
.top_social_vj ul li a{padding:9px;}

.menu_padding_footer{display:block; margin:30px 0; overflow:hidden}

.footer_link{display:block; padding:10px; color:#fff; font-size:14px;}
.menu_padding_footer .footer_link h2{color:#fff; font-size:20px; border-bottom:1px solid #EDCA6D; padding:10px 0;}
.menu_padding_footer .footer_link ul li{float:none; padding:5px;}
.menu_padding_footer .footer_link ul{padding:10px 0;}
.menu_padding_footer .footer_link ul li a{display:block; color:#fff; font-size:13px;}
.menu_padding_footer .footer_link ul li a:hover{padding:0 0 0 5px;
-webkit-transition: all 0.1s ease;
-moz-transition: all 0.1s ease;
transition: all 0.1s ease;
-o-transition: all 0.1s ease;}

.footer_link span{display:block; color:#FFF; padding:10px 0;}
.footer_link strong{font-weight:bold; font-size:16px;}
.footer_link  p{padding:0; margin:0; font-size:13px;}
.coppyright_div{display:block; overflow:hidden; background:#fff;}
.coppyright_div ul.payment_card{display:block; float:right; padding:10px 0 10px 10px;}
.coppyright_div ul.payment_card li{float:left;}
.coppyright_div .Copyright_test{padding:10px 0; margin:0;}
.coppyright_div .Copyright_test a{color:#E3AE1E;}
.neslatter_box .inner_skew{transform: skew(-15deg) translateX(0px);
-webkit-transform: skew(-15deg) translateX(0px);
-mox-transform: skew(-15deg) translateX(0px);
-o-transform: skew(-15deg) translateX(0px);
-ms-transform: skew(-15deg) translateX(0px)}
.menu_padding_footer .footer_link ul li a i{padding:0 5px;}
.sortby_right select{padding:8px; border:solid 1px #D7D7D7; width:200px;}
.top_social_vj ul li  .fa{color:#333; font-size:16px; padding:0 8px;}
.slider_product #slideshow2{margin:20px 0 0 0; display:block;}
.back_shadow_imaages{background:url(../images/box_shadow_v.png) no-repeat center top; background-size:100% auto;}
.slider_product #slideshow2 .desoslide-wrapper img{width:100%; height:450px;}
.slider_product #slideshow2 .desoslide-overlay{background:#333; padding:10px; color:#fff; font-size:18px; position:absolute;}

.slider_product ul#slideshow2_thumbs{display:block; overflow:hidden; padding:35px 0; margin:0;}
.slider_product ul#slideshow2_thumbs li{display:block;  padding:10; margin:0; float:left; width:10%;}
.slider_product ul#slideshow2_thumbs li img{width:100%; display:block; height:80px;}

.anim-slide h2{background:url(../images/bannet-text_line.png) no-repeat left  bottom; padding:0px 0px 30px 0 ;}
.printed_summer{display:block; padding:20px 0;}
.right_printed_summer{display:block;}
.right_printed_summer h2{font-size:40px; color:#E3AD1E; border-bottom:solid 1px #E0E0E0; padding:5px 0;}
.right_printed_summer strong{padding:20px 0 10px 0; font-size:18px; font-weight:bold; display:block;}
.right_printed_summer p{display:block; font-size:15px; line-height:20px;}
.printed_summer .items_text{display:block; padding:10px 0 0 0;} 
.printed_summer .items_text .fa{padding:0 5px;}
.printed_summer .items_text strong{font-size:13px; background:#E3AE1E; color:#FFF; padding:3px;}
.top_padding_vj{display:block; padding:0px 0; display:block; overflow:hidden;width:100%; height:70px;}
.top_padding_vj .items_text .fa{padding:0 5px;}
.top_padding_vj .items_text a{padding:0 5px; color:#333;}
.top_padding_vj .items_text{padding:20px 0;}
.price_only{display:block; float:left; padding:10px 0;}
.price_only .now_price{font-size:25px;}
.price_only .now_price .pricei {color:#E3AE1E;font-size: 21px;}
.price_only .now_price .pricei i{font-size: 21px;font-family: arial;}
.price_only .now_price a{color:#E3AE1E; font-weight:bold;}
.price_only .now_price span{font-size:16px; padding:0 10px; text-decoration:line-through;}
.price_only .now_price strong{font-size:14px; padding:5px; color:#fff; background:#E3AE1E;}
.blog{
	color:#fff;
	font-size:15px;
	margin-left:-6px;
}
.buysample{
	color:#fff;
	font-size:15px;
	margin-right:5px;
}
.qty_number .spinner {
width: 100px;
}
.qty_number .spinner input {
text-align: right;
}
.qty_number .input-group-btn-vertical {
position: relative;
white-space: nowrap;
width: 1%;
vertical-align: middle;
display: table-cell;
}
.qty_number .input-group-btn-vertical > .btn {
display: block;
float: none;
width: 100%;
max-width: 100%;
padding: 8px;
margin-left: -1px;
position: relative;
border-radius: 0;
}
.qty_number .input-group-btn-vertical > .btn:first-child {
border-top-right-radius: 4px;border-top: 1px solid #ccc;border-right: 1px solid #ccc; background:#fff;
}
.qty_number .input-group-btn-vertical > .btn:last-child {
margin-top: -2px;border-bottom: 1px solid #ccc;border-right: 1px solid #ccc; background:#fff;
border-bottom-right-radius: 4px;
}
.qty_number .input-group-btn-vertical i{
position: absolute;
top: 0; color:#666;
left: 4px;
}
.qua1{font-weight:bold;font-size:22px;}
.qty_number h4{float:left; font-size: 15px; line-height:30px; padding:0 10px 0 0;}
.sampleimg{
    width: 81px;
    margin-left: -60px;
}
.top_padding_border{display:block; overflow:hidden; padding:8px  0; border-bottom:solid 1px #E0E0E0;border-top:solid 1px #E0E0E0;height:60px;}
.width_textbox_control{float:left; width:200px;}
.color_box_vj{display:block;}
.qty_number .color_box_vj li{float:left;margin:5px;}
.qty_number .color_box_vj li a{width:20px; height:20px; }
.color_box_vj li.color1{background:#5F240D}

.color_box_vj li a.color1{background:#965B31}
.color_box_vj li a.color2{background:#6D3312}
.color_box_vj li a.color3{background:#C4B4A5}
.color_box_vj li a.color4{background:#E2B464}
.color_box_vj li a.color5{background:#C4B4A5}

.buttong_diiv{padding:0 40px 0px; display:block;}
.buttong_diiv1{padding:0px 0; display:block;}
.button_colorpadding i.fa{padding:0 10px 0 0; border-right:solid 1px #EECD77}
.button_colorpadding a.btn{border:solid 1px #E3AE1E; border-radius:5px; width:100%; font-size:15px; font-weight:bold;


/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ecc766+0,d6a31b+100 */
background: #ecc766; /* Old browsers */
background: -moz-linear-gradient(top, #ecc766 0%, #d6a31b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ecc766 0%,#d6a31b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ecc766 0%,#d6a31b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecc766', endColorstr='#d6a31b',GradientType=0 ); /* IE6-9 */}

.product_cardbox .button_colorpadding a.btn {background:none; border:solid 1px #fff;}
.margin-left{margin-left:50px;}
.button_colorpadding{float:right; margin:10px 0px;padding-right:60px;width:33%}
.button_colorpadding.first{ margin:10px -30px 0px 29px; width:68%} 
.button_colorpadding a:hover i.fa{border-color:#fff;}
.button_colorpadding a{padding:10px 20px;}
.button_colorpadding a.btn:hover{
border:solid 1px #000; 
background: #4c4c4c; 
background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); }

.tebing_desingbox{display:block; padding:20px 0;}
.product_description{}
.product_description .tabs a {
cursor: pointer;
}
.js-tabby .tabs-pane {
display: none;
visibility: hidden;
}

.tabs-pane.active {
display: block;
visibility: visible;
}

.product_description ul.tabs{display:block; overflow:hidden;}
.product_description ul.tabs li{display:block; float:left;}
.tebbing_conttent{display:block; overflow:hidden;border:solid 1px #DDDDDD;  margin:-1px 0 0 0; padding:20px;}

.product_description ul.tabs li a{padding:12px 15px; font-size:16px;  margin:0 5px 0 0; color:#000; font-weight:bold;
border-top:solid 1px #DDDDDD; display:block;
border-right:solid 1px #DDDDDD;
border-left:solid 1px #DDDDDD;border-bottom:solid 1px #DDDDDD;}
.product_description ul.tabs li a.active{color:#E3AE1E; border-bottom:solid 1px #F5F5F5;}

.tebbing_conttent p{line-height:25px; font-size:15px; color:#333; padding:2px 0 20px 0;}

.tebbing_conttent h3{font-size:20px;padding:2px 0 20px 0;}
.tebbing_conttent span{line-height:20px; font-size:15px; color:#333; padding:2px 0 10px 0; display:block;}

#thumbnail-slider {
width:100%;/*width:400px;*/


position:relative;
}

#thumbnail-slider div.inner {
position:relative;
overflow:hidden;
margin:0;
}
.right_contactdetails{background:#F8F8F8; padding:10px;}
.right_contactdetails .delivery_iconbox{padding:15px 0; display:block; border-bottom:solid 1px #E4E4E4; overflow:hidden;}
.right_contactdetails .delivery_iconbox1{padding:15px 0; display:block; overflow:hidden;}
.right_contactdetails .delivery_iconbox1 span{float:left; display:block; background:#fff; padding:10px; border:solid 1px #CCCCCC; width:40px; text-align:center;}
.right_contactdetails .delivery_iconbox1 i.fa{color:#E3AE1E; font-size:16px;}
.right_contactdetails .delivery_iconbox1 p{padding:0 0 0 10px; font-size:15px; line-height:30px; float:left}
.right_contactdetails .delivery_iconbox span{float:left; display:block; background:#fff; padding:10px; border:solid 1px #CCCCCC; width:40px; text-align:center;}
.right_contactdetails .delivery_iconbox i.fa{color:#E3AE1E; font-size:16px;}
.right_contactdetails .delivery_iconbox p{padding:0 0 0 10px; font-size:15px; line-height:30px; float:left}
/***** home page   ///*/

.main_search_box{display:block; background:#e6e6e6; padding:10px 0;}
.main_search_box .search_box_home{display:block; background:#fff;padding:15px; height:70px;
transform: skewX(40deg); border-left: 2px solid #e3ae1e; border-right: 2px solid #e3ae1e;
-moz-transform: skewX(40deg); 
-webkit-transform: skewX(40deg); 
-ms-transform: skewX(40deg); 
-o-transform: skewX(40deg); 
margin: 0;
}
.main_search_box .search_box_home .search_skewx_zeero{padding: 8px 30px;
transform: skewX(-40deg);
-webkit-transform: skewX(-40deg);
-moz-transform: skewX(-40deg);
-ms-transform: skewX(-40deg);
-o-transform: skewX(-40deg);
}
.main_search_box .search_box_home .search_skewx_zeero input{border:none; display:block; width:90%;  }
.main_search_box .search_box_home .search_skewx_zeero #search{float:none; height:auto;}
.featured_product{display:block; background:url(../images/product_img_Home.jpg) no-repeat center center; background-size:100% 100%; background-attachment:fixed; padding:60px 0;}
.letest_product_box .title_divvj .center_box_title h3{background:#F3F3F3;}
.featured_product .mail_product_box{display:block; overflow:hidden;}
.title_divproduct h3{float:left; font-size:18px; color:#fff; font-weight:bold;}
.title_divproduct a{float:right; font-size:18px; color:#fff; font-weight:bold;}

.item_boxproduct{display:block;}
.produt_innerbox .product_imgbox{display:block;height: 340px; background:#EEEEEE; text-align:center; position:relative;}

.produt_innerbox .product_imgbox .center_img_box img{ display: inline-block;width: 90%;}
.product_textdetails{background:#fff; display:block; overflow:hidden;}
.title_divproduct{display:block; overflow:hidden; padding:30px 0;}
.product_textdetails .left_con_text{display:block; padding:15px 0 5px 0; text-align:center; }
.product_textdetails .right_con_text{display:block; padding:15px 0 15px 0; margin: 0;
/*-moz-transform: skewX(23deg); 
-webkit-transform: skewX(23deg); 
-ms-transform: skewX(23deg); 
-o-transform: skewX(23deg); 
*/
}
.product_textdetails .right_con_text1{display:block; text-align:center;
/*transform: skewX(-23deg);
-moz-transform: skewX(-23deg);
-webkit-transform: skewX(-23deg);
-ms-transform: skewX(-23deg);
-o-transform: skewX(-23deg);
*/
}
.product_textdetails .left_con_text h3 a{color:#333;}
.product_textdetails .left_con_text h3{font-size:15px; padding:0; margin:0; display:block; font-weight:bold; padding:0 0 5px 0;text-transform: uppercase;}
.product_textdetails .left_con_text p{font-size:13px; color:#666; padding:0; margin:0;  line-height: 17px;}
.product_textdetails .right_con_text h3{display:block; padding:4px 0; color:#E3AE1E; font-size:18px; margin:0;} 
.product_textdetails .right_con_text span{color:#E3AE1E; font-size:18px; font-weight:bold;}


.letest_product_box{display:block; overflow:hidden; background:#F3F3F3; padding:0px 0 30px 0;}

.carousel .slider_arrow_div{position:absolute;top:50%;cursor:pointer;}
.carousel .left_arrow{left:-4%;}
.carousel .right_arrow{right:-4%;}
.carousel .slider_arrow_div i{font-size:35px;}

.product_latestdiv{display:block; background:#fff; border:solid 1px #D7D7D7; border-radius:5px;

transition: all 0.35s ease 0s;
-webkt-transition: all 0.35s ease 0s;
-moz-transition: all 0.35s ease 0s;
-o-transition: all 0.35s ease 0s;
-ms-transition: all 0.35s ease 0s;
}

.product_imgdiv .center_img_box a{width:100%;height:100%;}
.product_imgdiv .center_img_box img { display: inline-block;}
.product_imgdiv .product_imgbox{   display: block; overflow: hidden;height: 330px; position:relative;text-align: center;
transition: all 0.5s ease-out 0s;
-webkt-transition: all 0.5s ease-out 0s;
-moz-transition: all 0.5s ease-out 0s;
-o-transition: all 0.5s ease-out 0s;
-ms-transition: all 0.5s ease-out 0s;
} 
.content_div_lestestpro{display:block; overflow:hidden; height:}
.content_div_lestestpro .product_button{display:block; padding:0 40px; margin: 10px 0;}
.content_div_lestestpro .product_button .product_button_slwl:hover{background:#333;}
.content_div_lestestpro .product_button .product_button_slwl{background:#E3AE1E; 
transform: skewX(40deg);
-moz-transform: skewX(40deg);
-ms-transform: skewX(40deg);
-webkit-transform: skewX(40deg);
-o-transform: skewX(40deg);}
.content_div_lestestpro .product_button .product_button_slwl .product_button_skew{text-align:center;
transform: skewX(-40deg); 
-moz-transform: skewX(-40deg); 
-webkit-transform: skewX(-40deg); 
-ms-transform: skewX(-40deg); 
-o-transform: skewX(-40deg); 
}
.content_div_lestestpro .product_button .product_button_slwl .product_button_skew a{display:block; padding:7px; color:#fff;} 
.content_div_lestestpro p{display:block; padding:10px 18px; font-size:12px; color:#A4A4A4; text-align:center;line-height: 18px;}
.content_div_lestestpro .product_pricediv{display:block; overflow:hidden; text-align:center;}
.content_div_lestestpro .product_pricediv span{display:inline-block; font-size:20px; color:#D19F1B; border-top:solid 1px #C5C5C5;padding:5px; }
.content_div_lestestpro .product_cardbox{display:block; padding:2px 0;border-top:solid 1px #C5C5C5; text-align:center;}
.content_div_lestestpro .product_cardbox .product_table{width:100%;}
.content_div_lestestpro .product_cardbox .product_table td:first-child, .content_div_lestestpro .product_cardbox .product_table td:last-child{width:49%; font-size:14px;}
.content_div_lestestpro .product_cardbox .product_table td{width:2%;text-align:center; font-size:32px;}
.content_div_lestestpro .card_boxicon{display:inline-block; padding:8px;}
.content_div_lestestpro .card_boxicon a{font-size:18px; color:#9F9F9F;}
.content_div_lestestpro .card_boxicon a.buy_btn{padding:6px 20px;border-radius:4px;background:rgba(0,52,113,0.9);color:#fff; transition:all 0.4s}
.content_div_lestestpro .card_boxicon a.buy_btn:hover{background:rgba(0,52,113,1);color:#fff;}
.shopping_add{display:block; padding:8px 0;}
.shopping_add_bgimg{display:block; background:url(../images/product-addbg.jpg) no-repeat;background-size:100% 100%; background-attachment:fixed;}
.shopping_add_bgimg .shopping_add_out{background:#fff; margin:10px 0; border-radius:5px;
transform: skewX(20deg); overflow:hidden;
-moz-transform: skewX(20deg); 
-webkit-transform: skewX(20deg); 
-ms-transform: skewX(20deg); 
-o-transform: skewX(20deg); 
min-height:115px;
}
.shopping_add_bgimg .shopping_add_inner{ padding:10px 35px;
transform: skewX(-20deg); overflow:hidden;
-moz-transform: skewX(-20deg); 
-webkit-transform: skewX(-30deg); 
-ms-transform: skewX(-20deg); 
-o-transform: skewX(-20deg); 
}
.content_div_lestestpro .card_boxicon a:hover{color:#E6B533;}
.shopping_add_inner span{float:left; display:block; width:75px;}
.shopping_add_inner .left{float:left; display:block; padding:14px 0;}
.shopping_add_inner .left h3{font-size:15px; font-weight:bold; text-transform:uppercase;}
.shopping_add_inner .left p{font-size:13px; font-style:italic; color:#949494;line-height: 18px;}

.new_special_textbox{
border-radius: 0;
display: inline-block;
font-size: 11px;
font-weight: 400;
padding: 0;
right: -4px;
text-rendering: optimizelegibility;
width: 100%;
z-index: 1;
}

.new_special_textbox::before {
background: #e3ae1e;
border: 2px none;
content: "";
display: block;
height: 75px;
position: absolute;
transform: skew(-15deg) translateX(60px);
-moz-transform: skew(-15deg) translateX(60px);
-webkit-transform: skew(-15deg) translateX(60px);
-o-transform: skew(-15deg) translateX(60px);
-ms-transform: skew(-15deg) translateX(60px);
width: 100%;z-index:-1;}

.new_special_textbox > p {
float: right; text-align:left; color:#fff; font-size:14px;
line-height: 17px;
padding: 10px 15px;
width: 80%;
}
.button_droduct_height{height:100px;}
.blog_divhome{background:#fff; display:block; padding:20px 0 70px;}
.blog_divhome .blog_contect{display:block;  text-align:center;}
.blog_divhome .blog_contect p{font-size:14px; line-height:18px; color:#A4A4A4; text-align:center;width:70%;  display:inline-block;}

.main_blogbox{display:block; position:relative; padding:20px 0; overflow:hidden;}
.main_blogbox .left_blog_part{float:left; display:block; width:50%; position:absolute; left:0; padding:30px 7px;}  
.main_blogbox .right_blog_par{float:right; display:block; width:60%;}
.main_blogbox .right_blog_par img{width:100%; height:350px; display:block;}
.main_blogbox .left_blog_part .inner_blogbg{display:block; background:url(../images/blog-textbg.png); padding:25px; text-align:center; height:290px; line-height:20px;}
.main_blogbox .left_blog_part .inner_blogbg h3{background:url(../images/hedding_line.png) no-repeat center bottom; padding:5px 0 25px 0; font-size:20px; margin:0 0 10px 0; color:#000;}
.main_blogbox .left_blog_part .inner_blogbg span{display:block; color:#fff; font-size:16px; padding:5px 0;}
.main_blogbox .left_blog_part .inner_blogbg p{display:block; color:#fff; font-size:16px; padding:5px 0;}
.back_color_overflow{overflow:hidden;}
.clients_testimonials{display:block; overflow:hidden; padding:10px 0;}
.back_color_tesi{display:block; background:#E3AE1E;}
.back_color_testi .carousel-indicators{position:relative;margin:0; padding:0; width:auto; left:auto; bottom: auto; }
.back_color_testi .carousel-indicators li{width:auto; height:70px; overflow:hidden; margin:7px 5px 25px 5px; border:none;}
.back_color_testi .carousel-indicators li.active{background:url(../images/arrow_testi.png) no-repeat bottom center;}
.back_color_testi .carousel-indicators li img{width:50px; height:50px; border-radius:50%; border:solid 1px #fff;  }
.back_color_testi h4{float:left; color:#fff; font-size:18px; font-weight:bold; padding:20px 80px;}

.back_color_testi::before {
background: #e3ae1e;
border: 2px none;
content: "";
display: block;
height: 65px;
position: absolute;
transform: skew(25deg) translateX(60px);
-webkit-transform: skew(25deg) translateX(60px);
-moz-transform: skew(25deg) translateX(60px);
-ms-transform: skew(25deg) translateX(60px);
-o-transform: skew(25deg) translateX(60px);
width: 100%;
z-index: -1;
}
.back_color_testi {
border-radius: 0;
display: inline-block;
font-size: 11px;
font-weight: 400;
padding: 0;
right: -4px;
text-rendering: optimizelegibility;
width: 100%;
z-index: 1;
}
.img-width{height:90px;margin-right:30px;}
.img-donear{margin-right:30px;}
.img-decor{height:90px;}
.carousel-testimonials{display:block; overflow:hidden;}
.carousel-testimonials img{width:200px; height:90px; }
.arousel-testimonials{font-size:16px;}
.testmo_name_border{display:block;  overflow:hidden; width:100%; height:40px; z-index:-1;}
.mar-top{margin-top:150px;}
.testmo_name_border .inner_bottom_line::before {
background: #fff;
content: ""; border-top:solid 1px #999; border-left:solid 1px #999;
display: block;
height: 41px;
position: absolute;
transform: skew(30deg) translateX(60px);
-moz-transform: skew(30deg) translateX(60px);
-webkit-transform: skew(30deg) translateX(60px);
-ms-transform: skew(30deg) translateX(60px);
-o-transform: skew(30deg) translateX(60px);
width: 100%;
z-index: -1;
}
.testmo_name_border .inner_bottom_line {
border-radius: 0;
display: inline-block;
font-size: 11px;
font-weight: 400;
padding: 0;
right: -4px;
text-rendering: optimizelegibility;
width:80%;
z-index:-1;
}
.amount{font-weight: bold;font-size: 18px;}
.rupee{font-size: 23px;}
.img1{width: 250px;height: 150px;}
.btn-sub{margin:10px 20px;}
.line1{margin:10px 0px;}
.review{text-align:left;margin-left:1px;}
.form1{padding:10px 0px;border-bottom:1px solid #eee;}
.goto-wrap .goto {	display: none; }
.testmo_name_border .inner_bottom_line small{z-index:-1; display:block; color:#000; font-size:18px; text-align:left; font-size:16px; padding:10px 0 0 84px;}

.clients_testimonials blockquote{border:none; padding:0; margin:0;} 
.search_skewx_zeero #search-icon{position:absolute; right:0; top:0px; font-size:20px;color:#959595;}


.mycart_div{display:block; padding:60px 0;}
.mail_titlecart{display:block; overflow:hidden; padding:10px 0;}
.mail_titlecart h3{display:block; font-size:30px; color:#E3AC1E; padding:10px 0; border-bottom:solid 1px #EAEAEA;}
.mail_titlecart h3 span{color:#000;}

.woocommerce table.shop_table {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-collapse: separate;
    border-radius: 5px;
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
	margin-bottom:0;
}
.woocommerce table.cart img {
    box-shadow: none;
    width: 100px;
}
.mycart_div .woocommerce table.shop_table thead tr{background:#F0F0F0;}
.mycart_div .entry-content .woocommerce div.quantity span.qty-minus {
    padding: 0 15px;
    top: 0;line-height: 30px;
}
.mycart_div .entry-content .woocommerce div.quantity .qty {
    width: 60px;
}
.mycart_div table.shop_table td {
    line-height: 60px;
    text-align: center;
}
.mycart_div .input-group {display:inline-block; text-align:center;}
.mycart_div .input-group  .form-control{width:50px; display:inline-block; float:left; margin:0 -1px;} 
.mycart_div .input-group button.btn-default{display:inline-block; float:left; font-size:12px; background:#fff; border:1px solid #ccc;}
.mycart_div .input-group button.btn-default i.fa{color:#E3AE1E;}
.mycart_div .woocommerce table.shop_table  .actions .checkout-button{border:none; float:right; padding:10px 15px; background:#E2AD1E; font-size:13px; margin:0 5px;}
.mycart_div .cart-collaterals  .calculated_shipping  .wc-proceed-to-checkout a.checkout-button{border:none; float:right; padding:10px 15px; background:#E2AD1E; font-size:13px; margin:0 5px;}
.mycart_div .woocommerce .calculated_shipping{float:right;}
.mycart_div .woocommerce .cart_item span.mobilediv{display:none;}


.tebing_myaccount{display:block;}
.tebing_myaccount .product_description ul.tabs{display:block; background:#F4F4F4;}
.tebing_myaccount .product_description ul.tabs li{float:none; }
.tebing_myaccount .product_description ul.tabs li a{border-bottom:solid 1px #EAEAEA; border-left:none; border-top:none; border-right:solid 4px #F4F4F4; font-weight:500; margin:0;padding: 15px 15px;}
.tebing_myaccount .product_description ul.tabs li.active a{border-bottom:solid 1px  #EAEAEA;border-right:solid 4px #AF8516;}
.tebing_myaccount .tebbing_conttent{padding:0; border:none;}
.tebing_myaccount .mail_titlecart{padding-top:0;}
.tebing_myaccount .mail_titlecart h3{padding-top:0;}
.tebing_myaccount .profilename{display:block; overflow:hidden; padding:20px; background:#E3AE1E;}
.tebing_myaccount .profilename .profile_dp{width:80px; height:80px; border-radius:50%; border:solid 4px #fff; overflow:hidden; float:left;}
.tebing_myaccount .profilename .profile_dp img{width:100%;  height:100%; display:block;}
.tebing_myaccount .profilename span{font-size:20px; color:#fff; line-height:76px;  padding:0 0 0 10px;}

.myaccount{display:block; overflow:hidden;}
.myaccount h2{font-size:18px; padding:10px 0; display:block; font-weight:bold;}
.myaccount p{font-size:14px; padding:5px 0; display:block;}
.myaccount .Account_info{font-size:20px; padding:10px 0; border-bottom:solid 1px #E0E0E0; overflow:hidden;}
.myaccount .Account_info span{float:left; padding:0 10px 0 0;font-size:20px;}

.contact_information{display:block; padding:20px 0; overflow:hidden;}
.contact_information .deatalinfo_box{display:block; border:solid 1px #EFEFEF; min-height:221px;}
.contact_information .deatalinfo_box .titlebox{background:#EFEFEF; font-size:18px; padding:10px;}
.contact_information .deatalinfo_box .titlebox span{float:left; padding:5px 10px; display:block;}
.contact_information .deatalinfo_box h3{display:block; padding:15px 10px; font-size:16px;border:solid 1px #EFEFEF; overflow:hidden;}
.contact_information .deatalinfo_box h3 i.fa{padding:5px;}
.contact_information .deatalinfo_box h3 a{float:right;}
.contact_information .deatalinfo_box h3 span{float:left; padding:0;}

.contact_information .deatalinfo_box p{padding:10px; display:block; font-size:15px; line-height:20px;}
.contact_information .deatalinfo_box p strong{display:block; padding:10px 0;}
.contact_information .deatalinfo_box h2{display:block; padding:10px; overflow:hidden;}
.contact_information .deatalinfo_box h2 a{float:right; font-size:16px; font-weight:500;}
.checkouttitlebox{display:block; background:#E3AE1E; overflow:hidden;}
.checkouttitlebox .lefticontitle{float:left; background:#EBC662; padding:15px; font-size:18px; color:#fff;
color:#FFF; padding:10px; font-weight:bold;
transform: skew(-15deg) translateX(-10px); text-align:right;
-moz-transform: skew(-15deg) translateX(-10px);
-webkit-transform: skew(-15deg) translateX(-10px);
-o-transform: skew(-15deg) translateX(-10px);
-es-transform: skew(-15deg) translateX(-10px); width:60px;
}

.checkouttitlebox .lefticontitle .iconbox_title{transform: skew(15deg) translateX(-10px);
-moz-transform: skew(15deg) translateX(-10px);
-webkit-transform: skew(15deg) translateX(-10px);
-o-transform: skew(15deg) translateX(-10px); padding:5px 0px 5px 5px; display:block;
-es-transform: skew(15deg) translateX(-10px);}

.checkouttitlebox .righticontitle{font-size:20px; line-height:45px; font-weight:bold; color:#fff;}
.checkouttitlebox .lefticontitle .iconbox_title i.fa{font-size:20px;}
.checkouttitlebox .righticontitle label{float:left;}
.mant_accounrdiv{display:block; padding:10px 0;}
.checkouttitlebox{ margin:15px 0 0 0;}
.from_vidbox{display:block; overflow:hidden; background:#F8F8F8; padding:10px; border:solid 1px #F0F0F0;}

.mant_accounrdiv .from_vidbox .form-group input.form-control{border-radius:0; border:solid 1px #D4D4D4;}
.mant_accounrdiv .from_vidbox .form-group label{font-weight:500;}
.mant_accounrdiv .from_vidbox  .checkbox label{background:#E9E9E9; padding:8px; display:block;}
.mant_accounrdiv .from_vidbox  .checkbox label input{padding:0; margin:0 ; position:relative; }
.mant_accounrdiv .from_vidbox  .bottom_padingdiv{padding:5px 0px 20px 0px}
.checkouttitlebox .righticontitle fieldset.question{display:block;}




.loginpagediv{display:block; margin:auto;  float:none;}
.loginpagediv ul.tabs{display:block; background:#CCCCCC; border-radius:8px 8px 0px 0px; width:100%; overflow:hidden;}
.loginpagediv ul.tabs li{float:left;}
.loginpagediv ul.tabs li a{display:block; padding:10px 40px; font-size:18px; color:#333333;}
.loginpagediv .login-inner{border:solid 1px #CCCCCC;  border-radius:8px; display:block; background:#F7F7F7;}
.loginpagediv ul.tabs li a.active{background:#F7F7F7;}

.loginpagediv .tebbing_conttent{display:block;  padding:20px;}

.login-inner .tebbing_conttent .checkout-button { background: #e2ad1e;
    border: medium none; color:#fff; font-size:18px; font-weight:bold; margin:10px 0;
    font-size: 13px;
    padding: 10px 20px}
	.loginpagediv ul.tabs li a i.fa{padding:0 5px;}
	.box_shadowdiv{ background:url(../images/box_shadow_v.png) no-repeat top center; min-height:25px; background-size:100% auto; display:block;}
	.checkouttitlebox .righticontitle .right_box_div{float:right;  margin:18px 10px;}
	.payment_method .left_worlpay{float:left; padding:15px 0;}
	.payment_method{display:block; padding:10px 0;}
	.payment_method .worldpay_bg{padding:5px ; background:#fff; border-radius:5px; margin:0 5px; float:left;}
	.payment_method .worldpay_bg ul li{float:left; padding:5px;;}

.panel_tab table td, .panel_tab table th{
	text-align:center;
}

/*  **** Vijay   ****   */

.ads-item-carousel-area .item a, .content-top-item-carousel .item a{text-align:center;}
.top_social_vj ul li a:hover i.fa-facebook{color:#4867AA;}
.top_social_vj ul li a:hover i.fa-twitter{color:#43C7F7;}
.top_social_vj ul li a:hover i.fa-google-plus{color:#E04A39;}
.top_social_vj ul li a:hover i.fa-linkedin{color:#0077B5;}
.top_social_vj ul li a:hover i.fa-pinterest{color:#E04A39;}
header.nav-slider #menufix.active {
	z-index:99999;
	position:fixed;
	opacity:100;
	top:0; left:0; width:100%; background:#fff;
}
header.nav-slider #menufix.active .logo::before{position:relative; margin:0;}
header.nav-slider #menufix.active .logo a img{width:50%; margin:0 !important;}

.product_imgbox .center_img_box > a img{width:100% !important; height:100%;}
.product_latestdiv .product_imgdiv .product_imgbox .center_img_box a img{height:100%;
transition: all 0.5s ease-out 0s;
-webkt-transition: all 0.5s ease-out 0s;
-moz-transition: all 0.5s ease-out 0s;
-o-transition: all 0.5s ease-out 0s;
-ms-transition: all 0.5s ease-out 0s;}
.content_div_lestestpro .product_cardbox .button_colorpadding a{padding:8px 15px; text-align:center;}
.product_latestdiv .product_pricediv span i{font-size:20px;}
.product_latestdiv .product_pricediv .latest span i{font-size:13px;font-weight:none;} 
.letest_product_box .carousel .carousel-inner{margin:40px 0;}

.mant_accounrdiv .from_vidbox .woocommerce .wc-proceed-to-checkout a input.checkout-button{border:solid 1px #E3AE1E; border-radius:5px; font-size:15px; font-weight:bold;

padding:10px 15px; color:#fff;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ecc766+0,d6a31b+100 */
background: #ecc766; /* Old browsers */
background: -moz-linear-gradient(top, #ecc766 0%, #d6a31b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ecc766 0%,#d6a31b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ecc766 0%,#d6a31b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecc766', endColorstr='#d6a31b',GradientType=0 ); /* IE6-9 */}

.mant_accounrdiv .from_vidbox .woocommerce tr.bomilehide_div th{padding:5px; }
.cart-collaterals .calculated_shipping .shop_table_responsive{display:block; padding:10px; margin:10px 0;}
.cart-collaterals .calculated_shipping .shop_table_responsive .order-total th{padding:0 8px;}
.mail_product_box .title_divproduct h2{float:left;font-weight:bold;color:#fff;}
.product_textdetails .left_con_text p{display:none} 


.product_imgdiv .product_imgbox .center_img_box img{
-webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;}

.product_latestdiv .product_pricediv span{padding:10px; display:block;}
.product_cardbox{display:block; padding:20px; background:#E3AE1E; overflow:hidden; position: absolute;  width:90%;
-webkit-transition: all 500ms ease; bottom:-80px;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;}
.product_latestdiv:hover .product_cardbox{ bottom:0;
-webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;}
.product_cardbox .card_boxicon{float:left; padding: 13px;border: 1px solid #fff; border-radius:5px; position:relative;}
.product_cardbox .button_colorpadding{float:right; width:75%; margin:0;}
.product_cardbox .button_colorpadding .index{float:right; width:142%; margin:0;}

.product_cardbox .card_boxicon a i{color:#fff;}
.letest_product_box .carousel .carousel-inner{transition: all 0.35s ease 0s;
-webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;}
.new_divproduct .item_div_new{display:block; overflow:hidden; padding:10px 0; height:420px; position:relative;}
.new_divproduct .item_div_new .images_box_new{display:block; overflow:hidden; height:340px; position:relative;}
.new_divproduct .item_div_new .images_box_new a{display:block; border:solid 2px #dfdfdf; padding:5px;height:100%,position:relative;}
.new_divproduct .item_div_new .images_box_new a:hover{background:rgba(0,0,0,0.65)}
.new_divproduct .item_div_new .images_box_new a img{width:100%; height:325px;}
.new_divproduct .item_div_new .title_producename_new{display:block; overflow:hidden; padding:5px 0;}
.new_divproduct .item_div_new .title_producename_new a{font-size:15px; color:#333;text-transform: uppercase;}
.new_divproduct .item_div_new .onsale_new{display:block; overflow:hidden;}
.new_divproduct .item_div_new .onsale_new .title_price{font-size:18px;}

.new_divproduct .item_div_new .images_box_new:hover::before {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

/*.new_divproduct .item_div_new .images_box_new::before {
    background: #E3AE1E ;
    content: "";
    height: 0;
    left: 50%;
    opacity: 0.65;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transition: all 300ms ease-in-out 0s;
	-moz-transition: all 300ms ease-in-out 0s;
	-webkit-transition: all 300ms ease-in-out 0s;
	-ms-transition: all 300ms ease-in-out 0s;
	-o-transition: all 300ms ease-in-out 0s;
	
    width: 0;
}*/


.new_divproduct .item_div_new .button_droduct_price_popup{position:absolute; top:140%;  width:100%; text-align:center;
padding-top:150px;
-webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;
height:100%;
background:rgba(227,174,30,0.65);
}
.new_divproduct .item_div_new .button_droduct_price_popup .buynow_button{display:inline-block; text-align:center;}

.new_divproduct .item_div_new .button_droduct_price_popup .buynow_button a{padding:10px; border:solid 1px #00326F; border-radius:5ppx; margin:5px; color:#fff; background:#00326F;}
.new_divproduct .item_div_new .images_box_new:hover .button_droduct_price_popup{ top:0; 

-webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;}
.new_divproduct .item_div_new .button_droduct_price_popup .buynow_button a:hover{border:solid 1px #000;color:#fff; background:#333;}


.product_buttong_diiv .right_buttonbuynow{margin:20px 0; display:block; float:right; width:500px;}
.product_buttong_diiv .left_samplebutton{margin:20px 0; display:block; float:left; width:500px;}

.product_buttong_diiv .right_buttonbuynow a.btn-primary{width:45%; margin:5px; float:right;}
.product_buttong_diiv .left_samplebutton p{margin:0;}

.left_title_box  input.search_textboxhome{width:60%; padding:0 15px; display:block; float:left; border: solid 1px #c9c9c9; height:45px; border-radius: 5px 0px 0px 5px;}
.left_title_box  .search_textboxselect{display:block; float:left; width:150px; margin:0 0 0 -10px; padding:0 17px; border: solid 1px #c9c9c9; height:45px; border-radius:0px 5px 10px 0px;}

.left_title_box  .button_searchbox{height:44px; border-radius:5px; padding:0 50px; font-size:16px; background:#073974; border:none; color:#fff;margin: 1px 5px;   margin: 1px 5px; }

 
.searchbox_home .left_title_box { margin:10px auto; width: 80%;}
.searchbox_home  label{float:left; padding:8px 5; display:block; line-height:15px; }
.left_title_box  #search1{float:left; width: 85%;}

.top_padding_border .price_only select#qua{padding:2px 5px; border-radius:7px; border:solid 1px #CCC; font-size:15px;} 
.generate_invoice{background:#E3AE1E; display:block; padding:10px 15px; font-size:15px; color:#fff; border:none;}
.product_detarilbox{display:block; padding:30px 0;}
.totleprice_box{display:block; padding:20px; padding-bottom:0px; background:#efefef; border:#e5e5e5 solid 1px; margin:10px 0;}
.place_orderbutton{background:#E3AE1E; display:block; padding:10px 15px; font-size:15px; color:#fff; border:none;}

.download_button .generate_invoice{display:block;}

.download_button{display:block; padding:10px 0;}
.download_button button.generate_invoice{float:left; margin:20px;}
.download_button button.generate_invoice a{font-size:16px; color:#fff;} 

#screen1 .fixed{margin-top:120px;}
    
.scroll_box_div{display:block; overflow:hidden; width:100%;}
.vj_content {
  overflow: hidden; }
 
 header.nav-slider .menupositondiv #menufix.active{position:absolute;}
 .Added_productbutton{display:block; background:#E3AE1E; padding:10px; margin:0; color:#fff; font-size:16px; line-height:15px; border:none; cursor:pointer;}
 
 .cart_item td.product-thumbnail img{height:70px;}
header.nav-slider .scroll_menu2{display:none}

header.nav-slider .active .scroll_menu1{display:none;}
header.nav-slider .active .scroll_menu2{display:block;}
.continue_shopping .checkout-button .button .alt .wc-forward .border{border-radius:5px;}
.fixmenu_div {
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 1111111;
}
.fixmenu_div ul{display:block;}
.fixmenu_div ul li a{color: #505050;padding: 35px 5px}
.fixmenu_div ul li{float:left; display:block; position:relative;}
.fixmenu_div ul.menu_drop_down1{position:absolute;}
 .left_buttonbuynow {
    display: block;
    float: right;
    margin: 20px 0;
    width: 100%
}
.note{
	margin-left:60px;
}